[2015-08-03 08:24] Wipsly opened #1 "Standalone Version"
Hi,

do you have standalone Version? The package is create but I would like to see a full example app.

Greets
Wipsly

[2015-08-03 14:43] Wipsly opened #2 "Install error"
Hi,

when I run : composer require kordy/ticket dev-master

I get the following error:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package kordy/ticket could not be found in any version, there may be a typo in the package name.

Potential causes:
 - A typo in the package name
 - The package is not available in a stable-enough version

[2015-08-03 17:11] #2 closed

[2015-08-05 19:47] thekordy commented on #1
Hi Wipsly,
I have not finished it yet, it may take another week to be ready. And yes, I could upload a standalone version when the system is done.

Best Regards,
Kordy

[2015-08-05 19:49] thekordy commented on #2
Thank you for your feedback, I will fix that.

[2015-08-05 21:23] thekordy opened #3 "Current status screens"
### Views integrated in the master view
![ticketit-main](https://cloud.githubusercontent.com/assets/11343048/9098039/ab3fea18-3bc7-11e5-87e5-5655e8b86f9c.png)

### My Tickets main user screen
![ticketit-main2](https://cloud.githubusercontent.com/assets/11343048/9098040/ab5705ea-3bc7-11e5-86fd-094572c946cd.png)

### Ticket screen with comments (new comments update the ticket)
![ticketit-show](https

[2015-08-06 14:01] Wipsly commented on #1
Wow, that sounds great! Thank you so far!

[2015-08-12 13:39] thekordy commented on #3
Agent can view only his own assigned tickets
![ticketit - agent 1 screen](https://cloud.githubusercontent.com/assets/11343048/9225105/8f182d9c-4107-11e5-9cad-878d8a11050b.png)

The ticket screen as shown to agent (the edit button is shown to agents conditionally)
![ticketit - agent 1 show](https://cloud.githubusercontent.com/assets/11343048/9225104/8f14e5ba-4107-11e5-8758-ec05b672fbcb.png)

Agent

[2015-08-29 23:03] balping opened #4 "Configs don't really work"
1. `'main_route'`

I changed this to `'support'`, I got the following error message:

[code]

2. `'master_template'`

I changed `'master_template'` to `'app'`. Now when opening page `tickets/create`:

[code]

So it still needs a `master.blade.php`. My workaround is the following: I created a `master.blade.php` with content `@include('app')`. Of course it works, but since you offer these configs, p

[2015-08-29 23:32] balping opened #5 "Localisation needed"
Just as in title. Of course, I can edit views, but changes made under `resources/views/vendor/kordy/ticketit/` have no effect since the views are loaded from the source directory. And I wouldn't like to edit them because I'm hoping for updates + the `vendor` folder is excluded from the git repository and I won't change it.

Great project, great start anyway. Just needs some polishing

[2015-09-01 19:54] thekordy commented on #3
4c084a3

[2015-09-01 19:58] thekordy commented on #4
1. Fixed 4c084a3
2. Fixed 3a8d374

Very pleased with your feedback, thank you :)

[2015-09-01 20:00] balping commented on #4
Thanks for the fixes and thanks for creating this package. I'll definitely use it

[2015-09-01 20:03] thekordy commented on #4
That is a good news for me. Thanks for using it :)

[2015-09-01 20:04] #4 closed

[2015-09-01 20:39] thekordy commented on #5
I am planing to implement the localization, I may consider to give it higher priority now.

But as a side note, you may customize as follow:

publish views to the path resources/views/vendor/kordy/ticketit using this artisan command

[code]

Then go and edit the package views at resources/views/vendor/kordy/ticketit and customized views will override the package original views

[2015-09-01 22:20] balping commented on #5
That's what I tried, but they weren't overridden. I'll try it again tomorrow.

[2015-09-01 22:21] balping commented on #5
Oh sorry, you have already fixed that

[2015-09-03 22:24] balping opened #6 "Delete buttons don't work"
Hi again!
The delete buttons  don't do anything, deleting ticket, categories, statuses and priorities is not possible.

That's because you generate the right URL with link_to_route() but when the user clicks on that button, a GET request is sent however the controller is only triggered when sending a DELETE request. Take a look at here: http://laravel.com/docs/5.1/controllers#restful-resource-cont

[2015-09-03 22:28] balping opened #7 "Close ticket"
It would be nice if there was such functionality. For example in the config file there could be a close_status_id item. Lets assume that it is set to 5 and there's a status called 'Closed' in the database with id of 5. Then when an admin sets a ticket's status to 5 - closed, the user is not allowed adding comments any more.

[2015-09-04 13:11] thekordy commented on #7
That's a very good idea, and we might make the option to decide the start
and closing statuses directly at statuses admin panel

[2015-09-04 14:07] thekordy commented on #6
It works for me, so you might forgot to implement  the footer section in the master template, as mentioned in the readme:

**Footer section for passing the jquery scripts, so make sure it is called after you call the jquery**

[code]

### Explanation:
In each admin section (ex. [Categories admin](https://github.com/thekordy/ticketit/blob/d3c7b0e50afda9ea8fda0c45306797bfc0f6f628/src/views/admin/cat

[2015-09-04 14:10] #1 closed

[2015-09-04 14:25] thekordy commented on #6
Never mind, and thank you for using ticketit

[2015-09-05 18:45] balping opened #8 "Email queue doesn't work"
Hi!
When `'queue_emails' => 'no'`, everything works fine, the email is sent. However if I try queued emails, I get the following message from the queue worker:

[code]

My queues are configured of course, I'm using  database driver.

I started debugging, I dumped `$comment` inside `comment_notification.blade.php` and `$comment` is an array however it is supposed to be an object, that's the problem

[2015-09-05 18:52] balping opened #9 "Send mail to agent when new ticket is created"
If a new ticket is (automatically) assigned  to an agent, they should be notified  by email. Since you already added email support I don't think it was a very complicated thing

[2015-09-05 20:44] thekordy commented on #8
It's my fault, i have not given it enough testing. I will look into it and
get back to you.

[2015-09-05 20:45] thekordy commented on #9
That's a very good idea, i totally forgot that.

[2015-09-05 21:32] thekordy commented on #8
The solution you suggested works, but i used another way to fix it by serializing the object before queue and then unserialize in the views, so people can use all ticket related models information in views (category name, status name, colors, ..)

[2015-09-05 21:32] #8 closed

[2015-09-10 17:16] balping opened #10 "User can comment on other's tickets. SECURITY BUG"
Every user in the system can *view* and *comment* on tickets that were not created by them. Ok, the tickets are not listed at the My tickets page, but ticket ID-s are easy-to-guess. Tickets should be only allowed to be viewed by the owner, agents and admins. It's a serious security bug!!

[2015-09-10 18:29] thekordy commented on #10
You are right, it is on the top of my to do list and i was planning to cover it in the next patch

[2015-09-11 17:05] #9 closed

[2015-09-12 10:33] #10 closed

[2015-09-12 11:22] balping opened #11 "Class 'Kordy\Ticketit\Models\Comment' not found"
Hi!

I really don't know if this issue is related to your project or just my configuration is wrong. I'm just asking for your help, I don't have a clue what's causing this.

So after running `php artisan clear-compiled` I *always* get the following error message:

[code]

After this when I try to run *any* page I get the above error.

To solve this, I usually do the following:

I comment out the s

[2015-09-12 11:45] thekordy commented on #11
I could not regenerate the error, following the standard way of installing and removing the package

Install:
1. composer require kordy/ticketit
2. add Kordy\Ticketit\TicketitServiceProvider::class, to app.php config

Removing:
1. remove Kordy\Ticketit\TicketitServiceProvider::class, from app.php config
2. composer remove kordy/ticketit

[code]

[2015-09-12 11:46] balping commented on #11
Yeah, I tried removing and re-installing many times... Anyway, thanks. Probably something's wrong at my side

[2015-09-12 11:59] thekordy commented on #11
As a rule for me, I always remove/comment the package service provider class in the app.php before updating the auto load (either installing or removing).

So before i install or remove ticketit package, i have to remove its service provider class from the app.php file.
And so for all other packages, remove their service provider class from app.php when you are going to install or remove them.

[2015-09-12 12:00] balping commented on #11
Ok, thanks for your advice

[2015-09-24 05:38] FusionDesign commented on #11
Same thing here. Tried fixing it myself. Removed / reinstalled a ton of times a bunch of different ways.

[2015-09-24 08:54] thekordy commented on #11
First before install or uninstall, make sure you removed this line from config/app.php file
'''php
Kordy\Ticketit\TicketitServiceProvider::class,
'''
Then follow the installation or uninstall instructions

[2015-09-25 05:42] FusionDesign commented on #11
It was all working perfect. Try running composer update or composer dump-autoload on a fresh project. It breaks again.

[2015-09-26 00:12] FusionDesign commented on #11
So here's what I've done:
1. Forked the package to my local dev machine.
2. Used (https://github.com/Jeroen-G/laravel-packager) to set up a brand new package.
3. Ported your package into the folder structure provided and renamed all folder references to case-sensitive PSR-4 references (lowercase to sentence case). (eg. referencing Kordy\Ticketit\Models when the folder name is "models").

I attempt

[2015-09-26 02:24] FusionDesign opened #13 "Preview URL"
http://ticketit.fusiondesign.me/

I've taken the time to put together a preview page with two logins (admin@demo.com && user@demo.com) -- password for both accounts are "demo".

If you choose not to use it, that's fine; just let me know so I can take it down. Just helping out!

[2015-09-26 19:23] thekordy commented on #11
Hello,

To be honest, I couldn't regenerate the error you had. Would you please mention how do you install the package? and if you uses the composer install or just cloning the package?

For the idea of using styling frameworks, I think we should work in ways that we always can integrate with the user current project styling, if we made our own style, then we won't be able to integrate.

Although,

[2015-09-26 19:36] thekordy commented on #13
I like it thank you. Are you going to keep it up for others to try? That would be great :)

[2015-09-26 20:58] FusionDesign commented on #13
Yeah I'll host it for the life of the project, as long as it doesn't grow crazy popular then I may switch it to another server. I'm watching this project and I'll do pulls on the repo and tweaks as time goes on. I use this is my main website so I'm all about it.

[2015-09-26 21:01] FusionDesign commented on #11
This should be all resolved with the latest PR. Let me know if any problems still persist. I'll be doing a fresh install on the preview URL tonight at 3am so I can verify all is well.

[2015-09-26 21:02] thekordy commented on #11
Thank you

[2015-09-26 21:02] #11 closed

[2015-09-26 21:03] balping commented on #11
Thank you guys for fixing this

[2015-09-26 21:06] FusionDesign opened #14 "Typo in project description :)"
integrats -> integrates

Github project description that is!

[2015-09-26 21:10] FusionDesign commented on #11
No problem! Like I told Kordy -- I use this on my main website for my few clients I freelance for so I thank you more for releasing a modular way for me to move ticket systems around.

[2015-09-26 21:12] thekordy commented on #13
That's great, Thank you.

Let's see if you need a feature from the To do list (or a new one), let me know, and we may think of some collaboration to build the feature together.

[2015-09-26 21:12] FusionDesign commented on #7
I can add this tonight, I'm going to be doing a bunch of stuff to my internal version (just a different theme) -- so I'll cross port anything I do and see if I can get themes working so I won't have to maintain two versions :)

[2015-09-26 21:22] FusionDesign commented on #14
Also, thanks for the shout out in the readme! Totally not needed but I appreciate the project and your hard work man!

[2015-09-26 21:26] thekordy commented on #14
This is the least to be done for your effort and contribution :)

[2015-09-26 21:26] #14 closed

[2015-09-26 21:36] thekordy commented on #7
Your contributions are very appreciated :+1:

[2015-09-29 13:08] fishmad opened #16 "App is promising, keep up the good work"
No issues here the app works as promised and easy to get it up and running.

I was able to re-assign a ticket manually in the ticket-admin section to another agent. Loved it - it worked great.

Would it be difficult to code it so and admin could re-assign an instance of the customers ticket to more than one agent?

Im wondering if a customer submitted a help ticket, than the responsible agent can

[2015-09-29 13:30] thekordy commented on #16
Hello Fishmad,

Thank you very much :) , and thank you for giving suggestions, your suggestions and feedback are very welcomed and appreciated here.

For the idea of assigning the ticket to multiple agents, Is it like a ring group, where it notifies all group agents and the first agent to answer would be assigned? Or it's open for all group members and no one would be particularly assigned at anyt

[2015-09-29 13:41] thekordy commented on #13
Hello :)

Is it possible to add more accounts to the demo? Just to demonstrate multiple users/agents environment

[2015-09-29 14:07] vinothkumarma opened #17 "creating empty category"
I can able to create an empty category. can you please fix it

Thanks

[2015-09-29 14:09] vinothkumarma opened #18 "Can able to create an empty priority"
Hi,

Can please fix not to create an empty priority

[2015-09-29 14:10] vinothkumarma opened #19 "Can able to create a new empty Status"
Hi,

Can you please fix not able to create a new empty status

[2015-09-29 14:10] vinothkumarma opened #20 "Can able to create a new empty ticket"
Hi,

Can you please fix not to create a new empty ticket

[2015-09-29 14:26] thekordy commented on #17
Hello :)

Validation is just added recently in version v0.0.7, Would you please update or confirm you are using the latest version?

[2015-09-29 14:33] #17 closed

[2015-09-29 14:33] #18 closed

[2015-09-29 14:33] #19 closed

[2015-09-29 14:33] #20 closed

[2015-09-29 14:38] thekordy opened #21 "Views Localization"
Adding localization to views, to allow package users to translate or edit text.

[2015-09-29 14:44] thekordy opened #22 "Controllers messages localization"
Adding localization to the messages come from controllers

[2015-09-29 17:02] thekordy opened #23 "Documentation"
Adding articles on how to install, update, use, configure, customize, .. etc to the repository Wiki

[2015-09-29 18:22] FusionDesign commented on #13
Yeah, I just finished converting my site to Bootstrap so I can finally give this project the love it needs!

[2015-09-29 19:02] thekordy commented on #13
:)

By the way, I sent you an email, did you get it?

[2015-09-29 19:03] FusionDesign commented on #5
Updated ticketit.fusiondesign.me with new users and latest version (old version of ticketit.fusiondesign.me was using a custom package due to the PSR-4 problems prior to 0.5 IIRC). Switched live demo to stock install and it looks epic. Can't wait to get my hands dirty now that my site is on Bootstrap and I'm finally over the PSR-4 hump with packages :)

[2015-09-29 23:49] FusionDesign commented on #7
Complete and Reopen ticket has been added with latest PR.

[2015-09-30 00:09] FusionDesign opened #25 "How do you feel about DataTables?"
I'm brilliant with Datatables (http://pos.demo.fusiondesign.me). Would you like me to bundle this which will provide Search/Sort and more?

[2015-09-30 01:21] fishmad commented on #16
I love the concept of auto assigning tickets to an agent with the least amount of tickets I see where this would be very useful as a default setting but I also think we could be allowed to override a category and assign a default recipient or category owner - kind of like the scenario below.

__Scenario__: Bob is a customer and has purchased a software product from me (ABC Company)
Bobs software c

[2015-09-30 01:37] FusionDesign commented on #16
Thank you for your detailed writeup. I'll look into implementing this pending a current big PR with Complete / Open Tickets. I'd directly push it but it's my first big commit since being given contributor, as well as my first project collab; so I'm nervous / no idea what I'm doing.

[2015-09-30 06:59] MACscr opened #26 "No routes? [boilerplate compatibility]"
Im trying to integrate your great ticket system into an existing app I am working on and I do not see any route information. Am I missing something?

[2015-09-30 07:07] MACscr commented on #26
Ah, I guess its in the config/ticketit.php file. Hmm. Your package seems to have a completely different file layout than what im using with the https://github.com/rappasoft/laravel-5-boilerplate solution. They are both made for laravel 5.1 and it seems to meet all your minimum requirements. Any suggestions on how to get your system to work with it?

[2015-09-30 07:13] MACscr commented on #26
Let me expand a bit more. Right now with zero config changes, when I go to /tickets, im getting:

``FatalErrorException in Agent.php line 9:
Class 'App\User' not found``

which I am pretty sure is a result of this different file structure.

[2015-09-30 07:18] MACscr commented on #26
More info and I apologize if this is to much, but my config/auth.php has the following model set:

``'model' => 'App\Models\Access\User\User',``

[2015-09-30 07:51] fishmad commented on #26
You need to follow the laravel instructions for enabling the auth system its installed by default but not enabled. You need to open your app\http\routes.php file and add the auth routes to initiate the functionality.
[code]
[Activate Laravel 5.1 Authentication!]http://laravel.com/docs/5.1/authentication#authentication-quickstart

[2015-09-30 07:59] MACscr commented on #26
I do not have a User.php in the app folder and I already have a working auth system as I mentioned. My app folder pretty much looks like so: https://github.com/rappasoft/laravel-5-boilerplate/tree/master/app

[2015-09-30 08:05] FusionDesign commented on #26
MACscr - Does replacing App\User with App\Models\User\User fix the issue? If so I can probably fix that.

[2015-09-30 08:08] FusionDesign commented on #26
IIRC - App\User is hard-coded right now and we can use app()->make(config('ticketit.model')); to fix.

[2015-09-30 08:08] FusionDesign commented on #26
ticketit.model is not implemented to my knowledge in config, but it should be an easy update. I'll submit something after my current PR is pulled. I'm not smart enough for branches.

[2015-09-30 08:10] MACscr commented on #26
Yes, changing that path in the Agent.php seems to solve that particular error. I will open a new ticket for the next error that came up after I troubleshoot it a bit. Thanks for the help!

[2015-09-30 08:14] FusionDesign commented on #26
You're welcome. I knew that may come up.

[2015-09-30 08:18] MACscr opened #27 "Ability to Disable Priorities and Categories, etc"
I know I can just create a single priority and category and then just hide them with css, but why not give the option in the config to disable such features if they aren't needed? Its a feature request of course and I really appreciate what you have done so far. Thanks!

[2015-09-30 08:32] FusionDesign commented on #27
That's pretty easy to do but I'm not sure how many assets I'd have to touch, as I'm fairly new to the project. I'll see about this one too.

After I finish Stripe integration with my site, I'll look up some Github quick start vids somewhere. I know Git, I just am not familiar with Milestones, Tags, Labels, Assignee, Statuses, etc. Once I feel comfortable, I'll pump out the features.

[2015-09-30 08:40] MACscr opened #28 "AdminLTE integration"
This is a question and a feature request (maybe), but as you have seen in one of my other issues that I created, but I am using a great laravel/bootstrap boilerplate (https://github.com/rappasoft/laravel-5-boilerplate/) that uses the AdminLTE theme for its backend area. Since you only have a single master_template setting in the config/ticketit.php, is this even possible with the tickets package?

[2015-09-30 08:52] MACscr commented on #28
Well I got it partly working by manually editing the admin template files $master setting to a static value of:

``@extends('backend.layouts.master')``

and then changing the admin_route in config/ticketit.php:

``'admin_route' => 'admin/tickets',``

and now it will show the ticket admin index, but when I go to a link, i get:

``ErrorException in UrlGenerator.php line 278:
Route [admin/tickets.sta

[2015-09-30 08:58] FusionDesign commented on #28
Set admin_route to "admin" and main_route to "tickets" right?

[2015-09-30 09:01] MACscr commented on #28
Nope, I don't think they compound like that. Unfortunately then I only get 404's for any of the ticket admin area.

[2015-09-30 09:03] FusionDesign commented on #28
Easy enough. Change admin_route to dashboard. Now make a blank view for dashboard and you can list users tickets, stats, etc there.

[2015-09-30 09:04] FusionDesign commented on #28
I'm taking a stab in the dark and guessing that the Boilerplate reserves /admin/*/* and so does Ticketit based on your config.

[2015-09-30 09:08] MACscr commented on #28
but admin/tickets worked fine (I think). Just not any of the sub pages.

[2015-09-30 09:11] FusionDesign commented on #28
Trust me. Just set it to Dashboard or something except admin. Then navigate to /dashboard/priority in url. I'd try a suggestion before saying "but" lol :D

[2015-09-30 09:14] MACscr commented on #28
ok, so dashboard is my index for my user area already and I am really wanting to integrate the admin area of the ticket system into the actual admin area of the app.

[2015-09-30 09:15] MACscr commented on #28
Sorry, will try something else. missed that point

[2015-09-30 09:17] FusionDesign commented on #28
You wanted to make it work, I got it to work :)

Until we get some code updates, I'd suggest redirect()->route('admin.index'); for now.

[2015-09-30 09:20] FusionDesign commented on #28
You know the reason you publish views is so you can tweak them :) -- You never actually have to link to the admin route anywhere, ever if you adjust the view html

[2015-09-30 09:23] MACscr commented on #28
Actually just keeping it at the default of ticket-admin worked. Adjusting the master path in the templates as I mentioned earlier kept the admin view. Thanks!

[2015-09-30 09:25] FusionDesign commented on #28
Good to know!

[2015-09-30 09:30] MACscr commented on #28
Yep. My admin url might not be as pretty as I would have liked, but this works well enough. Woo hoo!

[2015-09-30 09:54] thekordy commented on #25
Yes, please ... I like it :)

[2015-09-30 09:58] MACscr commented on #26
Had to update src/Models/Comment.php and src/Models/Ticket.php with the correct user path too.

[2015-09-30 10:04] thekordy commented on #26
Please be aware that all changes you do are backed up, as any new version update will replace them.

While Ticketit integrates by default with Laravel default Auth and User system, but we may add in future somehow a compatibility to boilerplate. I guess It won't be that hard

[2015-09-30 10:17] MACscr opened #29 "Specify classes or id's for elements"
Id like to hide many aspects of the ticket system since I have no use for their particular values and I would like to customize the look of many other areas. Unfortunately this means that in most cases, I have to customize the blade template files versus just doing it with css because a majority of the elements do not have custom classes or id's associated with them. Priorities, categories, person

[2015-09-30 10:24] thekordy commented on #16
@fishmad Let me sum it and correct or add if something is missing:

1. Assign category admin or team leader
2. Option to either auto assign (dynamically) or to default assign all category tickets to the category admin
3. Fast creation of sub-tickets from within the ticket, this option is for category admin
4. lock master ticket to not being closed until subs are closed
5. Notify the agent (Admin)

[2015-09-30 10:24] thekordy commented on #16
@FusionDesign  Beleive me, You are doing great man :+1:

[2015-09-30 10:26] thekordy commented on #29
You are very right :+1:

[2015-09-30 10:42] MACscr opened #30 "Status should be listed on My Tickets list"
I lied about not having any other suggestions, but I hoping these thoughts benefit everyone.  =)

Don't you think that the Status of the tickets would be an important item to list in the My Tickets area? I think it's probably one of the most important pieces of info besides subject and last replied. Thoughts?

[2015-09-30 10:45] MACscr commented on #30
Forgot to add that while you have a last updated time, you should really have some sort of indicator that shows if the ticket is waiting on the users response or an agent. Probably should be another feature request, but they are kind related? =P

[2015-09-30 10:49] fishmad commented on #16
@thekordy you nailed it in 6 bullets points (took me a book to explain), number 6 might be too hard to code.

If you two need any help with this project in general, happy to help where I can - ie. convert hard coded languages in view files into dynamic laravel multi language files etc.

The Trans method is great if you envisage making the app multilingual in the future but it's also great for thos

[2015-09-30 10:50] MACscr commented on #30
Ah, I see the status is shown as the subject color. Not sure if thats the best way to do it. Think its better to have a boostrap styled "button" looking item with the status instead. Easier to figure out what something is with actual text versus some color (especially when there is no legend).

[2015-09-30 10:58] thekordy commented on #30
I was thinking of way to make it simple by lowering the number of columns, but I think we should find another solution, may be as you suggested or to put a color guidance above the table, or to replace category column with status .. Between you and me, I don't like much columns, it confuses me, the lower number of columns the better user experience.

[2015-09-30 10:59] fishmad commented on #30
I thought that too, the colored text needs something meatier so it stands out more.

[2015-09-30 11:13] thekordy commented on #16
@fishmad Thank you and yes we need help :)

As you said, I also believe that localization is the most needed feature now, If you can help on this, that would be great :)

These two issues #21 and #22  I opened to collaborate about localization, or you might like to submit a pull request on v0.1.0 branch , your help would be very appreciated.

[2015-09-30 12:09] MACscr opened #31 "Identify commentor"
Feature Request

Im surprised the default template for the ticket view does not identify who is making the comment replies. Should be special css to signify that the comment is from an agent as well.

I honestly would be creating PR's for this stuff, but I am customizing way to much of the actual designs that it wouldn't be to helpful.

P.S. Is there actually no way to for me label my own "issues"

[2015-09-30 12:21] MACscr commented on #31
Oops, you actually do. Was blank for me because of some user customizations I have made.

[2015-09-30 12:21] #31 closed

[2015-09-30 13:05] MACscr opened #32 "Ticket Index Paging"
Agents are going to have a lot of tickets to take care of and unfortunately right now, I am not seeing any paging support for the My Tickets section. Am I missing something?

[2015-09-30 13:45] fishmad commented on #16
Will do.

[2015-09-30 14:49] thekordy commented on #32
The pagination should support 10 items per page and is configurable in
config/ticketit.php

[2015-09-30 15:36] MACscr commented on #25
Just make sure its light and bootstrap friendly. Some solutions get way to heavy and bloated.

[2015-09-30 20:22] thekordy commented on #32
This is a screen from the online demo
![kordy ticketit index example](https://cloud.githubusercontent.com/assets/11343048/10205453/96b10b42-67c1-11e5-855b-2c4d880ab416.png)

[2015-09-30 20:22] #32 closed

[2015-09-30 20:25] thekordy commented on #25
:+1:

[2015-09-30 20:29] FusionDesign commented on #25
I totally agree. My DataTables are pretty epic when implemented properly.

[2015-09-30 20:32] FusionDesign commented on #30
When we switch to Datatables, we can do callsbacks for user-custommization in config on row colors, text colors, and more. Datatables are also extensible!

[2015-10-01 06:31] fishmad opened #33 "Manage Agents "Removed Agent" is still being auto assigned new tickets"
I removed an agent from one of my categories as I had too many, but when I submitted a new ticket later on it still assigned the new ticket to that removed agent.

I notice the relationship reference remains in pivot table `ticketit_categories_users`
This may still have a purpose - if I was to manually delete the mysql row (I cant anyway) it would cause problems with any 'existing comments' that a

[2015-10-01 23:50] thekordy commented on #33
I hope this patch fixes the issue

[2015-10-02 20:17] thekordy commented on #30
Agent screen
![laravel helpdesk main page - agent](https://cloud.githubusercontent.com/assets/11343048/10256713/4a79d3c4-6953-11e5-88be-72b1ae41616c.png)

User screen
![laravel helpdesk main page - user](https://cloud.githubusercontent.com/assets/11343048/10256714/4a9c023c-6953-11e5-8a1e-553b94ceb201.png)

[2015-10-02 20:17] #30 closed

[2015-10-02 20:39] thekordy commented on #30
Please note that it is not implemented in the current stable v0.0.7 , you will find it (as most of new current features) in the v0.1.0 branch

https://github.com/thekordy/ticketit/wiki/v0.1.0-features

[2015-10-03 09:12] fishmad commented on #33
I'm having issues viewing any ticket

in TicketsController.php

both:
Master - line 92
v0.1.0 - line 125

        $agent_lists = ['auto' => 'Auto Select'] + Models\Agent::agentsLists($ticket->category_id);

1/1
FatalErrorException in TicketsController.php line 125:
Unsupported operand types

BTW I have all the localization done and noticed that you added the 'Translations' setup how can I push the

[2015-10-03 12:12] thekordy commented on #33
Really? That would save much time, Thank you :+1:
To push contributions:
1. Fork the repository
2. Commit the changes to the Fork
3. Submit a Pull Request

https://help.github.com/articles/using-pull-requests/

[2015-10-03 12:15] thekordy commented on #33
Of course you need to fork the v0.1.0 repository where the translation setup.

[2015-10-03 12:27] thekordy commented on #7
Done in v0.1.0

[2015-10-03 12:27] #7 closed

[2015-10-03 13:23] FusionDesign commented on #7
I saw that! I'm overworked, I just pushed up a WIP commit to my 0.1.0 fork branch around DataTables. They are not being rendered yet and I've still got a lot of refactoring to do but I'm hoping I can push something decent after some rest.

[2015-10-03 23:26] fishmad commented on #33
1/1
ErrorException in TicketsController.php line 125:
array_merge(): Argument #2 is not an array

[2015-10-03 23:51] thekordy commented on #33
The error probably because there is a tickets empty category with no agents
assigned. I fixed it so it shows empty agents list instead of the error.

[2015-10-04 00:01] fishmad commented on #33
I can confirm this bug is now fixed.

Removed agents are not being assigned tickets anymore.
Error 1 fixed: Unsupported operand types
Error 2 fixed: array_merge(): Argument #2 is not an array

Looking good.

[2015-10-04 01:37] fishmad opened #37 "Edit ticket - Unable to re-assign or update ticket in branch v0.1.0"
Unable to select Agents for re-assign - None available in drop-down

![capture2](https://cloud.githubusercontent.com/assets/12012101/10266019/94e56bfc-6a94-11e5-8367-deb353fef9fe.PNG)

__Also if try to change subject line and save changes - error is thrown below:__

Whoops, looks like something went wrong.

1/1
ErrorException in TicketitServiceProvider.php line 52:
Trying to get property of non-ob

[2015-10-04 04:12] FusionDesign commented on #33
This has been updated in v0.1.0 to `['auto' => 'Auto Select'] + $this->agent->agentsLists($ticket->category_id)->all()`

->all() was introduced for ->lists() in 5.1 iirc.

[2015-10-04 04:30] FusionDesign commented on #25
I finished this a bit early. Once I'm on something, it's hard to get me off lol

[2015-10-04 04:30] #25 closed

[2015-10-04 04:32] FusionDesign commented on #26
I tried turning Agent into a trait but it is far too much work. I didn't realize how much touched the Agent class. I gave up after I couldn't even get an error log to be produced.

This will have to be for way later, Kordy was right.

[2015-10-04 04:33] FusionDesign commented on #26
I'd rather have a Wiki article on this subject, since you only have to change App\User in a few spots it would be easy to document.

[2015-10-04 05:32] FusionDesign commented on #37
Fixed in v0.1.0 by me and in master by thekordy.

[2015-10-04 05:34] FusionDesign commented on #33
This is resolved. Go ahead and submit a Pull Request per Kordy's instructions for Localization

[2015-10-04 05:34] #33 closed

[2015-10-04 17:38] #37 closed

[2015-10-04 20:12] #5 closed

[2015-10-04 20:12] #21 closed

[2015-10-04 20:12] #22 closed

[2015-10-04 20:19] thekordy commented on #16
I have good feelings about upcoming branches v0.1.0, 0.2.0, and 0.3.0 .. it's going so mature since now :)
thanks to everyone gave his feedback, that helped us a lot.

and special Big Thanks to you two @FusionDesign and @fishmad

[2015-10-04 20:32] FusionDesign commented on #16
Thanks @thekordy - I did not know you could reference people like that. Thank you so much for merging everything so fast. Incredible work all around

[2015-10-04 22:13] FusionDesign opened #41 "Testing v0.1.0"
What's left to do on this branch? Just battle testing or did you want me to work on some feature?

I'd like to start writing tests for coverage soon, as the project is starting to need it.

[2015-10-04 23:05] thekordy commented on #41
I just thought to keep it for two days or less for testing, any new
features will best fit in the next releases.

[2015-10-04 23:07] FusionDesign commented on #41
Good idea, I'll be testing tonight then thanks @thekordy

[2015-10-05 00:22] fishmad opened #42 "v0.2.0 - Create or Edit Ticket - The agent id field is required."
The agent id field is required.

Hidden field not present or validation issue.

[2015-10-05 06:19] FusionDesign commented on #42
is_array() was returning false because scopeAgentsLists() returns an object, not an array.

Updated method to include ->all() which converts the into an array.

[2015-10-05 06:24] #42 closed

[2015-10-05 06:29] fishmad commented on #41
How do you get the DataTables to be responsive for mobile devices like this https://www.datatables.net/blog/2014-07-16#Example

The table columns on the far right drop off to fit screen and the become a drop down with-in the current row, its very nifty, never seen anything like this before.

[2015-10-05 06:36] FusionDesign opened #43 "Emails do not send."
unserialize(): Error at offset 0 of 162 bytes

Error whenever sending emails. All templates contain inline PHP unserialize() commands. I have no idea the purpose of these.

[2015-10-05 06:38] FusionDesign commented on #43
I'm not closing this just yet. @thekordy why unserialize?

[2015-10-05 06:39] FusionDesign commented on #41
Oh I can do that easy. Hang on .

[2015-10-05 06:50] FusionDesign commented on #41
Added in v0.2.0

[2015-10-05 06:51] FusionDesign commented on #42
That commit should have been tagged #41

[2015-10-05 07:09] FusionDesign commented on #42
And that should have been tagged #43. I should just got to bed. Obviously losing my mind.

[2015-10-05 07:09] #43 closed

[2015-10-05 07:09] #41 closed

[2015-10-05 07:56] kasirye commented on #3
I think is a good ticketing system, let me try it out and then i will give you feedback

[2015-10-05 10:50] thekordy commented on #43
Please refer to #8

[2015-10-05 10:52] FusionDesign commented on #43
Ah makes sense. I wonder why status_notification is the only unserialize that doesn't work? It only doesn't work when changing status using the Complete Ticket button on v0.2.0

[2015-10-05 10:52] FusionDesign commented on #43
Regardless, I re-implemented it into v0.2.0 until we can fix that one item.

[2015-10-05 10:53] thekordy commented on #3
Thank you for trying Ticketit, your feedback would be appreciated a lot.

[2015-10-05 12:01] fishmad opened #44 "Unable to delete Status in admin"
Click delete - I get the JS confirmation - do you really want to delete ? hit yes then nothing happens.

No obvious errors,

[2015-10-05 12:04] fishmad commented on #44
Update it will delete but only the last Status in the list - one at the bottom.

I was eventually able to delete all Statuses by deleting from the bottom up.

[2015-10-05 12:05] FusionDesign commented on #44
Duplicated. On it.

[2015-10-05 12:10] fishmad commented on #44
Same bug applies to Categories and Priorities.

[2015-10-05 12:10] FusionDesign commented on #44
On it.

[2015-10-05 12:23] FusionDesign commented on #44
Fixed!

[2015-10-05 12:23] #44 closed

[2015-10-05 12:23] fishmad opened #45 "Hardcoded language in external javascript - localization"
DataTables has some hard coded language reference in the external bootstrap Javascript.

Not sure how to tackle these, so just want to park it for now.

![capture](https://cloud.githubusercontent.com/assets/12012101/10280274/b36f68f6-6bb7-11e5-96ec-5fbbaf2497d1.PNG)
http://cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.js
	"oLanguage": {
		"sLengthMenu": "_MEN

[2015-10-05 12:24] FusionDesign commented on #45
Oh that's easy. I'll push an update.

[2015-10-05 12:24] FusionDesign commented on #45
That's the old API anyway, we are using the new one.

[2015-10-05 12:38] FusionDesign commented on #45
Fixed in v0.2.0, reference #46

[2015-10-05 12:49] fishmad opened #47 "Trying to get property of non-object -> Email Assign Notification"
Logged in as a normal user (non-admin, non-agent) and submit ticket and I got this error.

2/2
ErrorException in 52418f3aa5e34f54df0cd1049af96859 line 7:
Trying to get property of non-object (View: C:\file\vendor\kordy\ticketit\src\Views\emails\assigned_notification.blade.php)

from below Line 7 is:  'status'    =>  $ticket->status->name,

<?php $notification_owner = unserialize($notification_owne

[2015-10-05 12:51] FusionDesign commented on #47
Yeah, same problem I ran into. I have never seen the unserialize method used so I'm not sure about a fix. It's basically saying that it ran into some bad data while trying to unserialize. I can't figure out why or proper steps to debug since the Model objects are so large

[2015-10-05 13:01] fishmad commented on #47
It was working fine 1 hour ago, so I don't think its related to the authenticated users as its now happening to all admin,agent and user,

The only things I have changed in the last hour is: delete all my Statuses and Removed all Agents via admin UI, I then re-added some Statuses and Agents and the auto incrementing MySQL IDs are higher - Statuses now start a #7 instead of the original #1 - I reca

[2015-10-05 13:03] FusionDesign commented on #47
Can you try removing {!! Form::hidden('agent_id', 'auto') !!} from the ticket create form and tell me if it fixes it? That's the only change to the repo

[2015-10-05 13:03] fishmad commented on #47
Confirmed: reset first SQL row for Statuses to ID 1 and it worked, the email sent fine.

[2015-10-05 13:04] FusionDesign commented on #47
Did you update
    'default_status_id' => 1, in config?

[2015-10-05 13:05] FusionDesign commented on #47
If an improper value is set there, it may be the cause of all serialize problems. Please confirm! :)

[2015-10-05 13:05] fishmad commented on #47
My     'default_status_id' => 1,

but my database rows started at 7 because I deleted all my statuses earlier tonight

[2015-10-05 13:06] FusionDesign commented on #47
If you change back to 7 and change config to 7, does it also still work?

[2015-10-05 13:09] fishmad commented on #47
I just tried, changed both config and DB to 7 and the email worked.

than just to check again I changed config to random number  of 4 left DB at 7 and it crashed while trying to submit new ticket

[2015-10-05 13:09] FusionDesign commented on #47
Perfect. Now we know what causes it! I'll throw that into a common problems area somewhere.

[2015-10-05 13:14] thekordy commented on #47
I think we should add some type of restriction on deleting a default
status, default close status, default reopen status ... and I am thinking
to begin working on transferring most of the settings from the file to the
admin panel, may be in v0.3.0 or v0.4.0

[2015-10-05 13:20] FusionDesign commented on #47
This config is growing quiet large for a config, I'd have to agree on the admin panel. Plus if we have an admin config table, we can control the IDs going in and out for default status via relationships.

[2015-10-05 13:22] FusionDesign commented on #47
Added to wiki for now until 0.3 or 0.4:
https://github.com/thekordy/ticketit/wiki/Common-problems

[2015-10-05 13:30] fishmad commented on #47
You could do a similar crud for language localizations, just not too sure what impact is would have on performance with all those extra queries - I did found a nice package that will scan files for trans() and automatically import these into the database for editing the text values.
https://github.com/barryvdh/laravel-translation-manager

[2015-10-05 14:16] fishmad opened #48 "Ticket was auto assigned to Admin who is not the Agent in Category"
I have two Agents Joined to a Category (neither of them are the Admin) DB User #3 and #4
I logged in as a standard User DB User #2 and created a new a ticket.
The ticket was auto allocated to the Admin instead of my Agents.

I then logged in as Admin (DB User #1) with intent to re-assign ticket but the ability to Edit ticket is not available to Admin (possibly because he's not assigned to Category

[2015-10-05 20:51] FusionDesign commented on #48
I'll look into this tonight after work :)

[2015-10-05 20:57] FusionDesign commented on #47
We can always Cache the database results for 1 month and make the "Save" button in the admin console flush the cache.

[2015-10-05 21:24] FusionDesign commented on #47
This has the added benefit of migrations essentially allowing us to version control our config

[2015-10-05 21:24] FusionDesign commented on #47
Welcome to the team btw Fishmad!

[2015-10-06 00:03] fishmad opened #49 "v 0.2.0 Unable to change ticket status - Validation issue"
Try to Edit a ticket and change status from Open to Assigned (Modal window)  - Validation

The subject field is required.
The content field is required.

![capture](https://cloud.githubusercontent.com/assets/12012101/10296994/b2912430-6c19-11e5-8076-5fd0425a2ac2.JPG)

[2015-10-06 00:08] thekordy commented on #47
https://github.com/barryvdh/laravel-translation-manager

@fishmad It looks promising, We can give it a testing round and find if it integrates smoothly and if it is easy to use. then we can implement it in the same version with admin panel upgrade

@FusionDesign for the config settings, I think it won't be that much load as we can use only one query to load all settings, but I am not sure about th

[2015-10-06 00:14] thekordy commented on #49
In 'tickets/edit.blade.php'
[code]

Do we need to restrict editing subject and body to only admins? or to open it for agents as well? or to make it configurable?

[2015-10-06 00:25] fishmad commented on #49
I would think by default it should be Locked to Admin only.

Add new config setting to admin categories - Allow Agent to modify Subject and Body?: True/False

[2015-10-06 00:34] thekordy commented on #49
I agree, I have to get some sleep now, but I will do it by tomorrow.

[2015-10-06 00:35] #23 closed

[2015-10-06 01:21] fishmad opened #50 "Unable to re-assign any Tickets to another Agent since v0.2.0"
Edit Ticket > The Agent drop down box always says: **Auto Select**
I'm unable see or select other Agents for manual ticket re-assignment.

* Have tried logged in as **'Admin who is NOT a member of category**  *he cant change it.*
* Have tried logged in as **'Admin who IS a member of category**  *he cant change it.*
* Have tried logged in as **Responsible Agent who is member of category** *he cant

[2015-10-06 01:22] FusionDesign commented on #49
@thekordy we are doing far too much coding with no relationships defined in our migrations. When a Status is deleted, all tickets with that status should also be deleted. Likewise, if a user is deleted, all tickets for that user should also be removed.

I'm am going to make a PR around this issue. We can discuss thoughts there! :)

[2015-10-06 01:42] FusionDesign commented on #50
I'm on it. Submitting a PR then checking.

[2015-10-06 01:51] FusionDesign commented on #50
Do you have an agent in that category?

[2015-10-06 02:56] fishmad commented on #50
Yes I have 4 agents and one is also admin.

[2015-10-06 03:03] FusionDesign commented on #50
Can you please pull my PR and tell me if this fixes the issue? You can pull FusionDesign/master branch

[2015-10-06 03:06] FusionDesign commented on #50
The only real changes are to Agent.php and TicketController.php

[2015-10-06 03:27] fishmad commented on #50
I pull it, installed it, rolled back and ran migrations and seeding but still not working.

[2015-10-06 03:42] FusionDesign commented on #50
Which branch? I can't duplicate this at all on master.

[2015-10-06 04:51] fishmad commented on #50
So your saying its working on the master branch?

[2015-10-06 05:06] fusiondesign commented on #50
For me it is, I'm not sure how to duplicate this issue

[2015-10-06 05:45] fishmad commented on #50
In the master branch Models/Agent.php is causing me the issue: where('ticketit_agent', '1')->
When I remove it, it works

[code]

//       return Category::find($cat_id)->agents->where('ticketit_agent', '1')->lists('name', 'id')->toArray();
          return Category::find($cat_id)->agents->lists('name', 'id')->toArray();    <-- Works

[2015-10-06 10:14] #47 closed

[2015-10-06 10:20] thekordy commented on #49
@FusionDesign I don't see it right to delete all tickets if you delete a status, but I agree about putting some restrictions and mass moving option.. an example of the relationship restriction:
1. you are about deleting a status that is assigned to many tickets, please move them first to another status in order to be able to delete this status
2. you are about deleting an agent whom is assigned to

[2015-10-06 10:22] thekordy opened #53 "Relationship restrictions"
Putting some restrictions and mass moving option.. an example of the relationship restriction:
1. you are about deleting a status that is assigned to many tickets, please move them first to another status in order to be able to delete this status
2. you are about deleting an agent whom is assigned to many tickets, please assign them first to another agent in order to be able to delete this status

[2015-10-06 10:31] fishmad commented on #53
Option for bulk delete of tickets in list view ( this is handy during development ) a tick box next to table row and a 'select all' link ( auto tick all boxes ) this could double for bulk transfer to another category.

[2015-10-06 10:38] thekordy commented on #53
That would need a filter, so you can filter specific status, category or agent related tickets in order to move or delete. We already have datatabels in v0.2.0 , so lets move this issue to v0.2.0

[2015-10-06 10:42] fishmad commented on #50
Where is ticketit_agent located? I can't tell what's is looking for or where it's looking for it.

[2015-10-06 10:50] thekordy commented on #50
@fishmad in Migrations/2015_07_22_123254_alter_users_table.php

[code]

And I just put

[code]

 to make sure they are agents (refer to #33)

[2015-10-06 11:02] fishmad commented on #50
Ah so its in the users table, so this fixed the issue of auto assigning to non agents but for me its also stopping the ability to reassign to another agent - this is effecting v0.1.0 for me

[2015-10-06 11:03] thekordy opened #54 "do not show empty categories in new/edit ticket categories list"
We should also filter our empty categories from the categories list drop down in
1. edit form
2. new ticket
3. make sure before update and store, you are not saving an empty category specially before firing trying to select agent

[2015-10-06 11:04] thekordy commented on #50
I will fix that

[2015-10-06 13:39] fusiondesign commented on #49
Right, a relationship will give us that error to "catch"

[2015-10-06 15:59] thekordy commented on #50
@fishmad I have made some changes, hope this resolves this issue and this one #48

[2015-10-06 16:06] thekordy commented on #49
@fishmad @FusionDesign  Kindly be informed that v0.1.0 branch became "master" branch

[2015-10-06 16:49] thekordy commented on #54
Not necisserly any more, as an empty category will have only one option "Auto Select" which will assign tickets of empty categories to the admin

[code]

[2015-10-06 16:49] #54 closed, assigned to nobody

[2015-10-06 18:55] fusiondesign commented on #49
We can at least define ->onDelete('cascade') on the pivot table. All other foreign keys will allow us to throw an Exception like "Cannot delete Status. Please either rename or change the status of existing tickets. If you would like to set all existing tickets to Status ID "insert permanent_status_id from config" and continue deletion, please press Replace.

Right now.. if you delete a status, cat

[2015-10-06 19:03] fusiondesign opened #55 "Branch Naming"
Our branches are named 0.7, 0.2, and 1.0. I believe 0.2 should be 1.1 or 2.0? Either way, I'd like to get naming sorted out so I can properly sync branches :)

I see you are already doing stuff, maybe you know :P

[2015-10-06 19:03] fusiondesign commented on #55
Or maybe 1.0 -> 0.1

[2015-10-06 19:09] thekordy commented on #55
Naming branches the same as the version number (branch v0.1.0 with version tag v0.1.0) makes some confusion to git, so I renamed branches differently from version.

For versions numbers, I am following [Semantic Versioning 2.0.0](http://semver.org) standard for not confusing people

[2015-10-06 19:11] thekordy commented on #55
Now I realized what I have done :/ .. I named it 1.0 instead of 0.1

[2015-10-06 19:11] #55 closed, assigned to nobody

[2015-10-06 19:11] fusiondesign commented on #55
=) No prob, just wanted to make sure not too many people pulled that ver.

[2015-10-06 19:16] thekordy commented on #55
Yes, I know :( ... I didn't know naming branches the same as versions would make problems .. But I hope this is a one time change

[2015-10-06 20:00] thekordy commented on #49
@FusionDesign .. Good point and I agree with you

[2015-10-06 20:30] fusiondesign opened #57 "Free Shirt for Octoberfest"
Hey guys, I just got in on https://hacktoberfest.digitalocean.com/

It's a free shirt for submitting PRs to Github in October. Thought you all might want to check it out.

I'll be closing this right away.

[2015-10-06 20:30] #57 closed, assigned to nobody

[2015-10-06 20:35] thekordy commented on #57
Thanks for sharing, I hope i get one of those ;)

[2015-10-06 23:01] fishmad commented on #50
I can once again select agents again for ticket assignment. yay

I have tested the new master branch v0.1 and v0.2 and confirm its now working.

[2015-10-06 23:01] #50 closed

[2015-10-07 01:52] fishmad commented on #49
Seem to have a new bug in v0.2 - Change ticket Status

[code]

And line one is:
`<?php $notification_owner = unserialize($notification_owner); ?>`

[2015-10-07 02:06] #45 closed

[2015-10-07 02:07] #48 closed

[2015-10-07 02:30] fishmad opened #59 "DataTables config to allow for style alterations"
DataTables has a lot of configurable options:
https://www.datatables.net/examples/basic_init/filter_only.html

Possible to put these in: config\datatables.php ?

How much work is involved to make overall use of DataTables On/Off a config option ?

[code]

[2015-10-07 04:35] fusiondesign commented on #49
I've had it forever, I just removed the unserialize methods from status_notification and it worked fine. I still have no idea what this error means.

[2015-10-07 04:39] fusiondesign commented on #59
Datatables has tons of alterations for Bootstrap 3, 2, 1, jQuery UI (Themeroller), and more. I think it would add a lot of bloat but I'm open to suggestion and easily persuaded haha..

Let me know what is kinda the failing point of Datatables for you. The reason I ask is because I think we'd be doing a ton of "cross-developing" to maintain both version with future updates. And the HTML version wou

[2015-10-07 06:27] thekordy commented on #49
The error might be related to the data that is being serialized in first place, so we need to debug what is being serialized, would you please get dump of $notification_owner?

[code]

in Controllers/NotificationsController

[code]

[2015-10-07 09:19] fusiondesign opened #60 "Truthy statements"
Kordy, how do you feel about switching to booleans for the config file vs yes or no? It would make sense with our language transition.

[2015-10-07 09:23] fusiondesign commented on #60
The reason I ask is because our database will want 0 or 1 in the boolean column and it would prevent a lot of ticketit_config table mutators, as well as giving the added benefit of not having to compare values with an if statement.

[2015-10-07 09:24] fusiondesign commented on #60
ie
if ($settings->notify_agent)

vs if ($settings->notify_agent === 'yes')

[2015-10-07 11:50] fishmad commented on #59
I've become used to bootstrap responsive tables that allow for horizontal sliding on small mobile devices, I cringe a little when relying on heavy JavaScript so much because when something breaks it's a lot harder to troubleshoot. I've been using another package for column sorting in the past and it worked fine but I realised today it's doesn't support SQL joins natively so I'm happy to use Datata

[2015-10-07 11:54] fishmad commented on #59
Keep it simple stupid, if you you feel it adds bloat than give my idea a miss - lean works better for everyone and easier to customise. Happy to close this if everyone agrees DataTables is the way to go, I'm sure it has responsive options that I have not yet tried and it's probably designed to fail gracefully if a user has JavaScript disabled.

[2015-10-07 11:55] fusiondesign commented on #59
I've been using Datatables in production at 32 of my stores in the US, as well as 4 other stores locally. Over 300 employees hammer my Gift Certificates daily. It may be a bit heavy on the JS but I'm sure we can have a graceful fallback. In fact, I know how we can have a graceful fallback:

We need an interface. If we code to an interface we can call $table->render() and automagically just have wh

[2015-10-07 11:57] fusiondesign commented on #59
An interface will force each implementation HtmlTable, DataTablesTable to adhere to the same methods. So we'd have a method to fetch data, a method to format the data and one to render it. Then we can just update one file for each and not have to jump all around our code.

[2015-10-07 11:58] fishmad commented on #59
Ok sounds like it's been tried and tested pretty hard. Your the man I have faith.

[2015-10-07 11:59] fusiondesign commented on #59
Thanks homie, I've watched every single episode of laracasts probably twice. Never got to use so many of the skills floating in my brain until Github. My clients needs are a little simple sometimes! No more CRUD zzZzzzzzZz

[2015-10-07 12:00] fusiondesign commented on #59
Did ya see what I did with the config in the PR?

[2015-10-07 12:02] fishmad commented on #59
No I'll check it out now.

[2015-10-07 12:22] fishmad commented on #29
Hardcoded CSS is building fast we need to agree on some naming conventions for TicketIT id and class tags and follow the pattern throughout, also need a custom stylesheet implemented.

[2015-10-07 12:30] fusiondesign commented on #29
I don't know if most email clients support stylesheets. Every Open Source template I've ever seen has inline styles with comments like "" and stuff.

This was an open source template as well that I converted into a theme.

[2015-10-07 12:31] fusiondesign commented on #29
Which is why database setting variable in a ticketit_email_templates database may be wise

[2015-10-07 12:31] fusiondesign commented on #29
Then we can have multiple "themes" that use the same template

[2015-10-07 12:38] fusiondesign commented on #29
That said, I totally agree on id's and classes throughout the normal app.

[2015-10-07 13:14] fishmad commented on #29
Agree, emails should have embedded styles - linked stylesheets in emails break to often and probably end up in clients spam folders.

Are we going to just wing-it with class names or follow the existing TitcketIT folder structure?

should we wrap each View file within its own custom div and ID or do integrate into existing the bootstrap something like below:

vendor\kordy\ticketit\src\Views\ticket

[2015-10-07 21:34] thekordy commented on #49
The problem because there was no serialize in the first place :)

[code]

it should be now fixed

[2015-10-07 21:37] thekordy commented on #60
I agree with that, and i was thinking that when users upgrade, we should implement some function to transfer their custom settings in config/ticketit.php to the database, so we maintain the compatibility

[2015-10-07 21:38] fusiondesign commented on #60
So was I, to be honest. That's why a large portion of the config is still in the getSettings() method. I already know what to do :)

[2015-10-07 21:43] thekordy commented on #29
I am with this option :+1:

[2015-10-08 10:16] thekordy opened #62 "0.2 Error Trying to get property of non-object when changing status"
In 0.2 .. When changing the status, I get this error

[code]

[2015-10-08 10:20] #62 closed, assigned to nobody

[2015-10-08 10:22] #49 closed

[2015-10-09 05:02] fusiondesign opened #63 "Proposal & help needed: Database Settings"
This is for tracking, please do not merge.

I need help with figuring out routes.php. Everything else seems to work perfect.

[2015-10-09 05:06] fusiondesign commented on #63
So routes.php has two hard-coded variables: $main_route and $admin_route.

For some reason Cache:: does not work in routes. It's PHP so I'm 100% sure there is a way to bootstrap the Cache or fix this. The rest of the app uses a 60minute cached database setting.

[2015-10-09 05:07] fusiondesign commented on #63
To test and help with this: Please pull "git reset --hard fusiondesign/0.2"

The commit diff log is far too long to digest.

[2015-10-09 06:31] fishmad commented on #63
Ill look into this after work tonight.

[2015-10-09 11:10] thekordy commented on #63
Great work Brian :+1:

About the main_route and admin_route settings, I thought about that earlier when we first talked about moving settings to database, How user will access the settings admin panel the first time in order to adjust the routes and master template information?

Even if we made it defaults to url/tickets and url/tickets-admin .. what about the master template name? Most cases will

[2015-10-09 12:09] thekordy commented on #63
I get this error:

![tickets-database settings error](https://cloud.githubusercontent.com/assets/11343048/10393335/634aaf90-6e8f-11e5-986c-9a38039d7978.png)

[2015-10-09 12:33] thekordy commented on #63
figured out now that ticketit_settings table is empty

[2015-10-09 12:35] fishmad commented on #63
is there a seed?

[2015-10-09 12:39] thekordy commented on #63
It is there, but I did not run the seeder :)

[2015-10-09 12:43] fishmad commented on #63
php artisan db:seed --class=Kordy\Ticketit\Seeds\SettingsTableSeeder

[2015-10-09 12:45] fishmad commented on #63
I always run this after pull requests to clear stored views,
php artisan view:clear

[2015-10-09 12:47] fishmad commented on #63
So when do we get and admin interface for config?/ lol

[2015-10-09 13:12] fishmad commented on #63
Yeah I have the route issue, cannot access any admin areas.

[2015-10-09 13:14] fishmad commented on #63
![capture](https://cloud.githubusercontent.com/assets/12012101/10394565/cea2f956-6ee3-11e5-99c7-139579848aff.PNG)

[2015-10-09 13:18] fusiondesign commented on #63
Hmm... do you guys both have empty settings tables?

[2015-10-09 13:19] fusiondesign commented on #63
It should see config/ticketit.php, merge the config from that file into the defaults, then sync the database with the config (just run the migration then the seeder)

[2015-10-09 13:20] thekordy commented on #63
@fishmad  it is "dashboard" instead of "tickets-admin"

@FusionDesign  I still get an error when i try to access any admin page

![ticket app dashboard status](https://cloud.githubusercontent.com/assets/11343048/10394701/21accfa0-6e99-11e5-9d79-963724464d59.png)

[2015-10-09 13:20] fusiondesign commented on #63
I'm doing a fresh install now. I'll let you know where the issue is and patch it :)

[2015-10-09 13:21] fusiondesign commented on #63
Also in Setting.php, did you uncomment the Cache:forget('settings') to clear your cache? Don't worry, I'll fix all these problems.

[2015-10-09 13:22] thekordy commented on #63
I don't use Cache .. so for time being I just modified Models/Setting.php

From

[code]

to

[code]

[2015-10-09 13:23] fusiondesign commented on #63
Cache is file-based by default and turned on. Are you sure you don't use it?

[2015-10-09 13:23] fusiondesign commented on #63
Or do you mean that you changed the code and it still doesn't work?

[2015-10-09 13:25] thekordy commented on #63
@FusionDesign If I do not do that, i get the error

![ticket app dashboard status route error](https://cloud.githubusercontent.com/assets/11343048/10394824/edd6fcfe-6e99-11e5-83af-4abaadf1feb7.png)

[2015-10-09 13:26] fusiondesign commented on #63
Hmm it looks like it's not finding an "admin_ids" in the database under the Slug column.
Can you confirm that row exists?

[2015-10-09 13:27] thekordy commented on #63
@FusionDesign When i dump $settings value
Models/Settings.php

[code]

I get this

[code]

[2015-10-09 13:28] fishmad commented on #63
I ran the seeder and it populated fine, Ill check /dashboard

[2015-10-09 13:28] fusiondesign commented on #63
Did you run

[code]

[2015-10-09 13:29] fusiondesign commented on #63
@thekordy ^^

[2015-10-09 13:29] fusiondesign commented on #63
The command replaces the old "publish config" command.

[2015-10-09 13:30] fusiondesign commented on #63
Essentially it's the new "check for old config, merge into new config, and merge into database command" so it supports upgrades and old versions.

[2015-10-09 13:30] thekordy commented on #63
Yes, and It is populated fine and I checked it has all needed data

[2015-10-09 13:31] fusiondesign commented on #63
Yet it returns an empty array? Give me 20min to troubleshoot. I'm doing a fresh install now

[2015-10-09 13:31] fishmad commented on #63
my views are hardcoded to use /tickets-admin so I need to update.
I ran: php artisan db:seed --class=Kordy\Ticketit\Seeds\SettingsTableSeeder

[2015-10-09 13:33] fishmad commented on #63
![capture](https://cloud.githubusercontent.com/assets/12012101/10395010/72c51076-6ee6-11e5-939d-8525ed2f6057.PNG)

[2015-10-09 13:33] fusiondesign commented on #63
Oh @thekordy did you check routes.php and change the hard-coded values?

[2015-10-09 13:34] fusiondesign commented on #63
Oops sorry I'm falling asleep. You already answered that lol

[2015-10-09 13:35] fishmad commented on #63
values are derived from the constants in config.php
    'admin_route' => 'tickets-admin',
does this need to be changed in config so database is populated correctly?

[2015-10-09 13:36] fusiondesign commented on #63
Nah, that's why I opened this PR in the first place was to find a better solution to the routes.php hardcoded values. Every other reference to admin_route and main_route uses the DB cache.

[2015-10-09 13:37] fusiondesign commented on #63
I duplicated the error. I'm trying to fix it now.

[2015-10-09 13:40] fishmad commented on #63
I changed both config and DB to /dashboard and cleared views cache but its still looking for /tickets-admin its not really harcoded because its using this $setting->grab('main_route')

[2015-10-09 13:40] fusiondesign commented on #63
Ok I fixed this error by un-commenting // Cache::forget('settings')

to clear the cache.

[2015-10-09 13:41] fusiondesign commented on #63
Let me know if that works @fishmad

[2015-10-09 13:41] fishmad commented on #63
where? is it

[2015-10-09 13:41] thekordy commented on #63
@FusionDesign After I changed the hardcoded admin route .. the backend works fine creating new values. However the front won't load until I comment out the Cache line as i mentioned before

[2015-10-09 13:41] fusiondesign commented on #63
Setting.php

[2015-10-09 13:42] fusiondesign commented on #63
@thekordy I think during first install it boots an empty $settings and keeps it like that for 60 minutes because it was originally a cached instance maybe?

[2015-10-09 13:42] fishmad commented on #63
Ok that's working now.

[2015-10-09 13:42] thekordy commented on #63
@fishmad in the routes.php

[code]

[2015-10-09 13:42] fusiondesign commented on #63
Ok so we have a problem with Cache lifetime on first install and hard-coded routes.php

[2015-10-09 13:43] fusiondesign commented on #63
I'll add in a catch to clear the cache.... if $settings is empty. That will fix that.

[2015-10-09 13:43] fusiondesign commented on #63
Main focus is on somehow removing $admin_route and $main_route from routes.php

[2015-10-09 13:44] thekordy commented on #63
@FusionDesign now it works
I had to use the cache::forget as you said

[code]

[2015-10-09 13:44] fishmad commented on #63
my routes.php is right.

$router = $this->app['router'];

$main_route = 'tickets';
$admin_route = 'dashboard';

[2015-10-09 13:44] fusiondesign commented on #63
Yeah but we need to be able to have $main_route = Setting::grab('main_route')

[2015-10-09 13:45] fusiondesign commented on #63
But I can't get that to work. It should be an instance of the cached DB

[2015-10-09 13:45] fishmad commented on #63
that worked for me too.

commenting out

Cache::forget('settings');

[2015-10-09 13:46] fusiondesign commented on #63
Yeah I can fix the cache::forget issue with a simple check to see if $settings is an empty object.

[2015-10-09 13:47] fishmad commented on #63
can your force null values on  $admin_route and $main_route for install?

[2015-10-09 13:47] fusiondesign commented on #63
I could easily yeah. Maybe we should default admin_route and main_route to be config values and everything else to be database values?

[2015-10-09 13:47] thekordy commented on #63
When I go to the active tickets (or complete) I get a Datatables error

DataTables warning: table id=DataTables_Table_0 - Ajax error. For more information about this error, please see http://datatables.net/tn/7

[2015-10-09 13:48] fusiondesign commented on #63
Can you tell me what what the "GET" request says for a reply to /data?
on your Google Chrome console?

[2015-10-09 13:48] fusiondesign commented on #63
or Firefox w/e

[2015-10-09 13:49] fishmad commented on #63
I had that error when I for got to migrate to datatables migration

[2015-10-09 13:49] fusiondesign commented on #63
Oh yeah, you are probably missing the completed_at column maybe?

[2015-10-09 13:49] fusiondesign commented on #63
That's why I always got that error

[2015-10-09 13:50] fishmad commented on #63
Its working fine on my end, must be migration issue

[2015-10-09 13:50] fusiondesign commented on #63
Same here. Working fine after uncommenting Cache::forget on a new install

[2015-10-09 13:51] fishmad commented on #63
migrate this @thekordy and see if error disappears 2015_09_29_123456_add_completed_at_column_to_ticketit_table.php

[2015-10-09 13:52] fusiondesign commented on #63
I'm not sure why his full migration run didn't migrate everything though. So odd.

[2015-10-09 13:53] fusiondesign commented on #63
Thanks for all the help testing this @fishmad and @thekordy -- We are going to have a smooth transition to a full Admin Backend :)

[2015-10-09 13:53] fishmad commented on #63
I didnt do a new install just replace the vendor/kordy/ticketit folder with pull request my database was already migrated from past - I just needed to seed the new settings.

[2015-10-09 13:55] fusiondesign commented on #63
That's even better! It's good to know my seeder is decently robust at such an early phase @fishmad

[2015-10-09 13:56] fishmad commented on #63
Yeah very nice work, scraping settings from config.php and dynamically populating db on the fly, thats above my skill level.

[2015-10-09 14:00] thekordy commented on #63
I have the migration .. even I created a new database, did all migrations, created new fresh ticket, and I get this error

[2015-10-09 14:01] fishmad commented on #63
did you clear cache views?
php artisan view:clear

[2015-10-09 14:01] fusiondesign commented on #63
@thekordy Do you know how to paste the "reply from server"? Like the detailed reply in your Developer Tools?

[2015-10-09 14:02] fusiondesign commented on #63
http://laravel.io/bin/VP931 - If you think that scraping is hardcore. This was written in Laravel 4 for my main employer to import gift cards from a 10yr old excel doc.

[2015-10-09 14:03] thekordy commented on #63
@FusionDesign Sorry i forgot to past the console error

http://ticket.app/tickets/data?draw=1&columns%5B0%5D%5Bdata%5D=id&columns%5…art=0&length=10&search%5Bvalue%5D=&search%5Bregex%5D=false&_=1444399185185 Failed to load resource: the server responded with a status of 500 (Internal Server Error)

[2015-10-09 14:04] fusiondesign commented on #63
What happens when you visit ticket.app/tickets/data?

[2015-10-09 14:05] fishmad commented on #63
Gents I need to got to bed otherwise my kids will annoy me too early tomorrow morning, cya.

[2015-10-09 14:05] fusiondesign commented on #63
Gnite!

[2015-10-09 14:05] fusiondesign commented on #63
Thanks again @fishmad

[2015-10-09 14:05] fusiondesign commented on #63
I'll have a much better build after all this help tonight

[2015-10-09 14:05] thekordy commented on #63
@FusionDesign
ticket.app/tickets/data

[code]

[2015-10-09 14:05] thekordy commented on #63
@fishmad Sweet dreams :)

[2015-10-09 14:07] fusiondesign commented on #63
Lol so ticket.app/tickets/data works great but when the View asks for it, it doesn't respond? I suggest pressing "Ctrl + F5" and to delete storage/framework/views iirc

[2015-10-09 14:08] fusiondesign commented on #63
I can literally see your ticket in that response. No idea why Datatables says it doesn't like the url. If I saw your pc I would push a few buttons and get the exact error. But it's burried in Developer Console under XHR Requests and "Preview Response"

[2015-10-09 14:09] thekordy commented on #63
@FusionDesign This XHR response

[code]

[2015-10-09 14:10] fusiondesign commented on #63
It says "SQLSTATE[HY000]: General error: 1 ambiguous column name: id"

[2015-10-09 14:10] fusiondesign commented on #63
Which means your datatables JS is wrong.

[2015-10-09 14:11] fusiondesign commented on #63
[code]

[2015-10-09 14:11] fusiondesign commented on #63
change name to ticketit.id

[2015-10-09 14:11] fusiondesign commented on #63
Tell me if that fixes it.

[2015-10-09 14:12] fusiondesign commented on #63
On line 2 data: {id} name: {ticketit.id}

[2015-10-09 14:13] fusiondesign commented on #63
Keep data as id, just change name to ticketit.id

[2015-10-09 14:14] fusiondesign commented on #63
I don't know why I never ran into this error??

[2015-10-09 14:15] thekordy commented on #63
Which file?

[2015-10-09 14:15] fusiondesign commented on #63
Views/index.blade.php

[2015-10-09 14:15] fusiondesign commented on #63
Sorry

[2015-10-09 14:16] thekordy commented on #63
Works :+1:

[2015-10-09 14:16] fusiondesign commented on #63
YES! If you are ever curious about datatables errors, check out under "Whoops something went wrong" in that long text you just sent :)

[2015-10-09 14:16] fusiondesign commented on #63
Tells you almost every time where to look at least ^.^

[2015-10-09 14:17] fusiondesign commented on #63
I'll patch everything we talked about today later tonight!! Thanks so much. And think about the routes.php problem if you can :)

[2015-10-09 14:18] thekordy commented on #63
I really need some caffeine right now, then I will go ahead towards the routes problem

[2015-10-09 14:19] fusiondesign commented on #63
Yeah! Thanks @thekordy --- some fancy stuff going into 0.2, should almost be 0.3 lol

[2015-10-09 14:19] fusiondesign commented on #63
Once we are switched over to Database driven config, we can have a cool dashboard.

[2015-10-09 14:20] fusiondesign commented on #63
One last thing before I head off - thanks for the nifty File::isFile idea you had. I ran with it @thekordy

[2015-10-09 16:24] thekordy commented on #63
@FusionDesign You are welcome :)

[2015-10-09 16:35] thekordy commented on #63
@FusionDesign I get the ambiguous error again when i try to search, but this time because of updated_at column

[code]

Fixed when I change index.blade.php line 53 as what you suggested before

[code]

[2015-10-09 16:47] thekordy commented on #63
It will more usable if we replace the last response column with the ticket owner information and make it only in the agent and admin screens

[2015-10-09 18:15] fusiondesign commented on #63
Agreed! I like that better

[2015-10-09 18:57] thekordy opened #65 "Simplifying Package Pre-requests"
We should not ask users at upgrades or fresh installs to do a lot of preparing their application in order to use Ticketit package.

In v0.2.0 we ask users to set up 2 non-default Laravel settings (users, emails), and to install 2 packages (collective forms, laravel datatables). I believe the less pre-requests we ask for the more attractive is the package.

About dependents packages, Composer made

[2015-10-09 18:58] fusiondesign commented on #63
To-do:
- Check if $session is empty or not fully synced. Sync and flush cache if so.
- Throw user friendly error if route could not be loaded from database settings. (Tell user to fix settings.)

[2015-10-09 19:26] thekordy commented on #65
What about fresh installs?
If someone has just installed the package, he will be required to do much steps:
1. Config pre-requests Laravel settings
2. Install Ticketit
3. add Ticketit service provider to app config file
<s>4. add dependents service providers</s>
4. migrate
5. Run the seeder

At this point he can go to the default url/tickets and use the new admin panel to adjust all settings, but

[2015-10-09 21:01] thekordy commented on #65
In answer to 1 .. We could do the migration automatically if the system found one is missing:

TicketitServiceProvider.php

[code]

[2015-10-09 21:35] thekordy commented on #65
for the third point, we could run the seeder right after the automatic migration .. something like this:

[code]

[2015-10-09 21:37] thekordy commented on #65
And we should fix the seeder class for the path of the config file

Seeds/SettingsTableSeeder.php

[code]

but that will make the seeding from command line fail to merge the previous user settings from 'config/ticketit.php'  !!

[2015-10-09 22:40] thekordy commented on #65
Found out how to resolve the seed problem .. actually two problems:
1. seems that if we run seed from cli it will use a different path other than if you run it from provider
2. because i put the automatic seed functionality in the provider boot, then when I run migrations or seed from cli, it will use the provider seed, so it will fail because provider seed is using a different path!!

The solutio

[2015-10-09 22:42] thekordy commented on #65
I will open a special PR for this issue for not making conflicts with other active PRs

[2015-10-09 23:00] thekordy commented on #63
Good work .. Merged and working :+1:

[2015-10-09 23:00] #63 closed, assigned to nobody

[2015-10-09 23:45] fishmad opened #66 "Installed latest commit v0.2 - Method style does not exist."
ErrorException in Macroable.php line 81:
Method style does not exist. (View: C:\OneDrive\resources\views\layouts\master.blade.php) (View: C:\OneDrive\resources\views\layouts\master.blade.php)

[2015-10-09 23:50] thekordy commented on #65
Note: You can try installing a fresh ticketit 0.2 using this command:

[code]

[2015-10-09 23:50] fishmad commented on #66
{!! Html::style('css/custom.css') !!}

Wonder why this would break on the update.

[2015-10-09 23:54] thekordy commented on #66
May be because of this commit 2d77c7cb7cccd7d0966720aeaed3bd25f65f360c  where i registered the Html from within the provider

[2015-10-09 23:59] thekordy commented on #65
Note: You can try installing a fresh ticketit 0.2 using this command:
You might like to remove the dependents packages and a fresh database to see the latest effects mentioned in this issue

[code]

Then just add the ticketit class to the config/app.php

Then the master_template setting in config/ticketit.php (only if it's different the master.blade.php)

[2015-10-10 00:00] thekordy commented on #66
It's my bad, I found the issue

[2015-10-10 00:05] thekordy commented on #66
Are we good? :)

[2015-10-10 00:11] fishmad commented on #65
my master is located in a subdir /layouts so I'll see what happens.

[2015-10-10 00:16] thekordy commented on #65
I did 1 and 3 .. Still 2 requires interaction from the user as follow  (only if it's different the resources/views/master.blade.php) :
1. create ticketit config file at config/ticketit.php
2. must adjust the master_template setting
3. migrate:rollback and then run the seeder again

[2015-10-10 01:11] fusiondesign commented on #65
I'm alive again. I gotta hit up a couple customer requests then I'll be doing a fresh install and giving thing a go. Very very nice work @thekordy

[2015-10-10 01:18] fishmad commented on #65
I dropped my database, removed ticketit folders entirely
Commented // Kordy\Ticketit\TicketitServiceProvider::class, from config/app.php
ran - composer require kordy/ticketit:0.2.x-dev
php artisan migrate
php artisan db:seed
Uncommented Kordy\Ticketit\TicketitServiceProvider::class,
ran php artisan migrate --path=vendor/kordy/ticketit/src/Migrations

Everything installed and populated correctly, h

[2015-10-10 01:57] fishmad commented on #66
All good.

[2015-10-10 01:57] #66 closed, assigned to nobody

[2015-10-10 12:00] fusiondesign commented on #65
Sorry I didn't get time to work on this last night! I've been up all night working on a client app for new features!! After some sleep today I'll get back to it :)

[2015-10-10 17:03] thekordy commented on #65
Something I am working on it right now ;)

![ticketit installation](https://cloud.githubusercontent.com/assets/11343048/10412287/83d73f88-6f81-11e5-8977-ba02bd141df7.png)
![ticketit installation3](https://cloud.githubusercontent.com/assets/11343048/10412288/83dba23a-6f81-11e5-8313-cd52e267b3ce.png)

[2015-10-10 19:11] thekordy commented on #65
Done :) ... Now a fresh install takes only 3 simple steps:
1. composer require kordy/ticketit:0.2.x-dev (or just dump fresh db and clone the new commit)
2. Add Kordy\Ticketit\TicketitServiceProvider::class, to config/app.php file
2. Hit url/tickets-install

This just an opening, any modifications and improvements are very welcomed :+1:

[2015-10-11 06:36] thekordy commented on #65
@FusionDesign Please take all the time you need, No need for any rush. Only if you've got a free time more than you need and there is something you deeply like to code ;)

[2015-10-11 10:56] fusiondesign commented on #65
I'm blown away!! @thekordy - Pulling things down and syncing now! Can't wait to try it

[2015-10-11 11:48] fusiondesign commented on #65
It worked flawlessly. Excellent work @thekordy . One mention would be future updates to the Seeder: If we change a value or add new values to getDefaults() in SettingsTableSeeder.php -- Do you envision using the installer to run a simple reSeed as well or what do you imagine in this scenario?

I was considering changing line 26 in TicketitServiceProvider from "DB::table('ticketit_settings')->count

[2015-10-11 11:58] fusiondesign commented on #65
getDefaults() is not static obviously so that code wouldn't work without some changes, just getting some ideas going

[2015-10-11 12:32] thekordy commented on #65
That would be better obviously :+1:  ... also I was thinking to make the tables (migrations) check more dynamic, so instead of using a static array, it searches our Migrations directory for migrations files and compares them with installed migrations .. that would be more dynamic.

[code]

[2015-10-11 12:40] fusiondesign commented on #65
Ooooohhh fancy! I like these ideas. :D

[2015-10-14 10:50] #65 closed, assigned to thekordy

[2015-10-17 23:16] thekordy opened #68 "Dashboard"
@fishmad @FusionDesign .. dears, I am going to work on the dashboard this week, to add some statistics and numbers, I am interested to know what do you think we should show in the dashboards.

[2015-10-18 20:57] thekordy commented on #13
Hello @FusionDesign , how are you doing?

This seeder would help you with demo site :+1:

[2015-10-19 00:09] fishmad commented on #68
These are just some ideas:
- Open Tickets (Total)
- Open Tickets per Category
- Closed Tickets
- Unanswered Tickets / Tickets with no response from an Agent
- Average response time / how many days it takes to complete tickets
- Most active ticket: Category
- Most active ticket responder: Agent
- Overdue Tickets

Agent sign-in message/reminder (this could be a navbar thing):
- You have been assign

[2015-10-19 07:58] thekordy commented on #68
Very nice ideas

[2015-10-19 08:42] fishmad commented on #68
Im concerened Brian has been very inactive, hope everything is ok 👌

[2015-10-19 14:07] thekordy commented on #68
Actually me too .. I hope he is fine

[2015-10-19 22:23] fusiondesign commented on #68
I'm back! I've been fighting with Arch Linux on both of my development machines, quoting problems on Invoice Ninja for my company, customer issues with the change to a Ticket based service from email, and financial problems. Ugh owning a company can be hell sometimes.

You two have been doing awesome work while I've been gone. Very nice! Right now I'm re-importing all my projects, settings up SSH

[2015-10-20 06:35] thekordy commented on #68
Glade to see you online again :)  ... Wish you good luck with your company :+1:

[2015-10-20 21:46] fishmad opened #69 "Unregistered Users able to Create New Ticket by Webform or Email"
Having used a Webhosting Management System in the past that had built in ticket support system: its called WHMCS, it had a feature that allows unregistered users to create support tickets or enquiries by:

a) directly visiting the site and creating a ticket by filling out the form (registered and unregistered users)
b) send an email to a predefined email address that is hooked into a cron job that

[2015-10-20 23:32] thekordy commented on #69
That is very odd! I was thinking about that today :)

Let's put it in our planned features, I am totally interested in both the
guest form and the email piping features.

[2015-10-21 10:37] fishmad opened #70 "Attachments to tickets"
@thekordy @FusionDesign  What's your thoughts on being able to upload / attach images or other files to support tickets.

Something like dropzonejs that allows users to drag/drop or upload attachments via Ajax in real time as part of new ticket creation or ticket update.

GitHub uses a similar function in these issue forums and I love the convenience of dragging screen dumps in the posts - picture

[2015-10-21 21:17] thekordy commented on #70
I think it's the right time to start adding these cool features such as the file upload and the email piping .. What do you think about adding them in the next release v0.3.0 planned features? I think we can do it ;)

[2015-10-24 01:58] thekordy commented on #68
Current dashboard :)

![laravel - tickets system dashboard 2015-10-24 03-54-49](https://cloud.githubusercontent.com/assets/11343048/10708278/367487d2-7a03-11e5-8b4e-1956b1e97155.png)

To Do:
Adding number of tickets (open, closed) to the tickets nav for users and agents

[2015-10-24 03:50] fishmad commented on #68
That looks awesome.. 👍 cant wait to try it tonight.

[2015-10-24 08:41] fishmad commented on #68
WOW, this is something special, better than I imagined it could be.

I noticed when I use the paginate links in users tab it works fine but on page load it defaults back to the Categories Tab.

Welldone @thekordy this work is fantastic.

[2015-10-24 12:17] thekordy commented on #68
Thank you .. I am very pleased to see you like it  :)

[2015-10-24 14:01] thekordy commented on #68
Added two pie charts for the tickets shares per category and per agent
![laravel - tickets system dashboard 2015-10-24 15-44-58](https://cloud.githubusercontent.com/assets/11343048/10710782/61539758-7a68-11e5-99da-2b6cfc3f9ab3.png)

[2015-10-24 15:40] thekordy commented on #68
current nav bar

![laravel - helpdesk main page 2015-10-24 17-39-16](https://cloud.githubusercontent.com/assets/11343048/10711276/42dd8852-7a76-11e5-915e-80f35ff53a43.png)

[2015-10-24 15:47] thekordy commented on #68
I will keep it couple of days for testing, then let's launch the v0.2 version to the world :) .. I believe it became amazing in a lot of ways thanks to you both Brian and Lee :+1:  ... I really can't wait to bring it to the light :)

[2015-10-24 15:51] thekordy commented on #68
Dear Brian @FusionDesign , please if you have got any time, would you please install v0.2 on the demo site? and you can use Seeds/TicketitTableSeeder to generate as many demo data as you wish .. just copy it to someplace like app/http/controllers , correct namespace, adjust demo data parameters for demo data volume .. and fire it :+1:

[2015-10-24 16:07] fusiondesign commented on #68
Yes absolutely, I’ve got a client I’m working on for 4 more hours then I’ll be good to go.

FUSION DESIGN

Owner of Fusion Design

1 (269) 910-4457

"Walking on water and developing software from a specification are easy if both are frozen."

 https://www.facebook.com/fusion.design.me Facebook |  https://www.twitter.com/_FusionDesign Twitter |  https://plus.google.com/+FusionDesignKalamazoo Google

[2015-10-24 21:00] MightySCollins opened #71 "Lots of Queries"
Hi

I love the ticket panel, it works really well and looks good I am just slightly concerned at the number of queries it used. The new dashboard (which is great) does quite a few SQL queries in my install it did 106. We were easily able to drop it down to 72 by removing the `Cache::forget('settings')` on line 42 of Setting.php but I wanted to know if you know any other quick ways to reduce the nu

[2015-10-24 22:04] fishmad commented on #68
Trying to run the seeder on its own through composer so I can view dashboard in more detail.
but I'm getting error.

C:\laravel>php artisan db:seed --class=Kordy\Ticketit\Seeds\TicketitTableSeeder

  [ErrorException]
  Trying to get property of non-object

LOG:
[2015-10-25 09:01:36] local.ERROR: exception 'ErrorException' with message 'Trying to get property of non-object' in C:\laravel\vendor\kor

[2015-10-25 04:59] fishmad commented on #68
Got it,

had to comment out line 66 and 67 in the NotificationsController.php because it would try to send emails, I did try to disable status_notification in admin configuration first.

[code]

Can uncomment once its seeded.

[2015-10-25 11:36] datune commented on #59
I would advise using datatables only where it actually adds real value, not just for the sake of implementing it. In fact, ideally the application should work without datatables, and implement it only as an added feature, and not the other way around ;-)

[2015-10-25 11:42] datune commented on #70
Having attachments available in tickets would open up the ability to start thinking about frontend widgets that would allow site visitors to easily submit an issue with a screenshot of the site, similar to something like say, usersnap ;-)

However, unless I missed them somewhere, I don't see any tests for this application? If you have not written any tests, I would really recommend freezing develo

[2015-10-25 17:00] thekordy commented on #68
What I do is installing ticketit on fresh db,  login with admin, from the
configuration panel disable all email notifications (the last four)
settings, run the seeder.

For some reason disabling only email notification doesn't stop
notifications

[2015-10-25 17:11] thekordy commented on #68
![laravel - configuration settings 2015-10-25 19-12-05](https://cloud.githubusercontent.com/assets/11343048/10716787/5586adc2-7b4c-11e5-946d-8fa98826c87e.png)

[2015-10-25 17:15] thekordy commented on #68
also you will need to increase the max execution time

[2015-10-25 17:30] thekordy commented on #59
@datune I always imagined a lot of things for the tickets front page, but no time at all, so for the time being, datatables does a great job such as fast searching and sorting by any of the available columns.

[2015-10-25 17:35] thekordy commented on #70
@datune  Can't agree more .. I may dedicate the first couple patches to the 0.2 for the tests

[2015-10-25 17:44] thekordy commented on #71
Hi Mighty, I agree with you. This issue will be my priority before releasing 0.2
Thank you for giving your feedback, it's very appreciated here :+1:

[2015-10-25 17:56] MightySCollins commented on #71
Thanks again for the system, it's great. Keep up the good work

[2015-10-27 00:52] fusiondesign commented on #71
Just getting my feet wet again. I'm am LOVING the admin console. Finally got my sync scripts setup, was just testing them with a simple update. Seems Sublime also treats your code much better on this new setup. No spacing issues.

[2015-10-27 06:40] thekordy commented on #71
Thank you Brian and welcome back .. We missed you here :)

[2015-10-27 21:20] thekordy opened #72 "System referes to the default setting if the adjusted setting is 0"
I could not disable the notifications email from the settings, after investigation, discovered that if i turn off (add value to 0) of the notification settings, the system will ignore it and refers to the default value.

[2015-10-27 21:25] #72 closed, assigned to nobody

[2015-10-27 21:26] #68 closed, assigned to thekordy

[2015-11-02 13:55] thekordy commented on #3
v0.2.0
Ticketit Settings Panel
![laravel - configuration settings 2015-11-02 16-24-00](https://cloud.githubusercontent.com/assets/11343048/10883996/3b41115e-817e-11e5-9939-3648791a4fdc.jpeg)

Admin Tickets screen
![laravel - helpdesk main page 2015-11-01 01-18-08](https://cloud.githubusercontent.com/assets/11343048/10883334/fedf2d08-8179-11e5-93ef-8baf0e207fbb.png)

Agent tickets screen
![laravel

[2015-11-02 18:22] thekordy commented on #13
Dear Brian, how do you do?

Just to get things ready for the v0.2.0 release, I set up the new demo at ticketit.kordy.info temporary until you can find the time to upgrade the live demo you generously offers.

[2015-11-03 06:11] amarkotha366 opened #73 "No routes"
I cant find any route after install.

Showing Error

NotFoundHttpException in RouteCollection.php line 161:

[2015-11-03 06:36] thekordy commented on #73
seems that you have not completed the install process, make sure you complete the rest of the installation steps:

Step 2. After install, you have to add this line in your `config/app.php` in Service Providers section (1-2 minutes).

[code]

Step 3. [Setting up your master view for Ticketit integration (1-2 minutes)](https://github.com/thekordy/ticketit/wiki/Integrating-Ticketit-views-with-your-pr

[2015-11-03 08:02] #60 closed, assigned to nobody

[2015-11-03 08:03] #59 closed, assigned to nobody

[2015-11-03 16:13] sicksand opened #74 "problem setting up"
Hi,

Discovered your helpdesk and I think it really suits me.

I have a problem bring it up to my local development

here are my steps.
1. composer create-project laravel/laravel helpdesk
2. cd helpdesk
3. composer require kordy/ticketit:0.*
4. nano config/app.php and add Kordy\Ticketit\TicketitServiceProvider::class, to the two service providers
5. run php artisan serve will cause me error homest

[2015-11-03 16:19] mavinothkumar commented on #74
What DB are you using ?

[2015-11-03 16:25] sicksand commented on #74
hi,
i am using mysql

On Wed, Nov 4, 2015 at 12:19 AM, Vinoth Kumar notifications@github.com
wrote:

##

Mohammad Shafiq Bin Mohd Mustapa

[2015-11-03 17:56] DanielAscher commented on #73
the problem here seems to be that - just as for me - there is no route for /tickets-install ... i get a 404 when trying to visit this page. yeah, i did edit my config/app.php

[2015-11-03 18:06] MightySCollins commented on #73
It works fine for me, it does not add them to the file but after following the steps properly I could visit the URL.

[2015-11-03 18:11] MightySCollins commented on #74
Laravel probably just needs the `migrations` table. Remove the table you created and just run `php artisan migrate`. That should make the table. I am mostly sure this is not a package issue.

[2015-11-03 18:12] DanielAscher commented on #73
Do you see the route when doing an php artisan route:list? because i do not see it there. also did a composer dump-autoload with no luck

[2015-11-03 20:06] thekordy commented on #73
@DanielAscher you won't find it in the routes list because the service provider use it only once (on the fly) when it sees ticketit tables are not yet migrated and the settings are not built.
You can find what i mean here https://github.com/thekordy/ticketit/blob/0.2/src/TicketitServiceProvider.php#L104

But what about the default routes, Do you see the default routes "tickets" and "tickets-admin"

[2015-11-03 20:17] thekordy commented on #74
@sicksand remove the ticketit service provider from config/app .. then run the serve.
And let me remind you that you have to follow exactly the requirements and installation instructions in the same sequence or you will get many errors.

you can find the requirements and installation instructions here:
https://github.com/thekordy/ticketit/blob/0.2/README.md

[2015-11-03 20:24] thekordy commented on #73
Thank you @MightySCollins .. you are right .. it doesn't add the tickets-install to the routes list, if that is what you meant.

[2015-11-03 20:38] DanielAscher commented on #73
oh i see, i need to be logged in. Funnily, the default routes are not there either (in artisan route:list) (should they?).
I did do the migrations, but via artisan.

[2015-11-03 20:45] thekordy commented on #73
@DanielAscher I asked because they should not :) .. at least not before finishing the ticket-install step

[2015-11-04 01:46] sicksand commented on #74
@thekordy

I have followed the README.md but I am stuck at the integrating the master view. (https://github.com/thekordy/ticketit/wiki/Integrating-Ticketit-views-with-your-project-template)

In my views folder there is no master.blade.php, I've created it and follow the instruction above. I've also change the routes to read master view file but it return empty.

[2015-11-04 07:14] riansopian opened #75 "Update"
Hi..

ticketit was installed on my project, but the ticketit is old version, how to update to newest version?

Best Regard

[2015-11-04 07:22] thekordy commented on #74
This is the master view I am using, also the auth views are included, just unzip the content into your laravel project root, following the same paths in the archive.

http://kordy.info/laravel_bootstrap_master_auth_views.zip

[2015-11-04 07:29] thekordy commented on #75
Very simple:
1. Make sure in the composer.json file has "kordy/ticketit": "0.*" in the "require" section
2. Then do this command "composer update"
3. Then in the browser go to "http://your-url/tickets-install"

That's it :)

[2015-11-04 07:37] sicksand commented on #74
@thekordy thanks for the file, after modifying the master file, i went to do this
php artisan vendor:publish --provider="Kordy\Ticketit\TicketitServiceProvider" --tag="config"

but the output is "Nothing to publish for tag [config]."

[2015-11-04 07:41] thekordy commented on #74
There is no config file in the new version ;)

[2015-11-04 07:43] sicksand commented on #74
@thekordy so what should i do next? i have point the browser to http://localhost:8000/tickets-install redirected to auth/login. there is no data in users table.

[2015-11-04 07:44] riansopian commented on #75
ok , and where I have to process all of the tickets that have been made?

[2015-11-04 07:48] thekordy commented on #74
then you need to register a new account for the admin (
http://localhost:8000/auth/register), then go again to
http://localhost:8000/tickets-install while you are logged in.

Also you might need to register more additional accounts to demonstrate
agents and users.

[2015-11-04 07:51] thekordy commented on #75
Backup your database first, then update. All tickets and settings should be
available and working after update.

[2015-11-04 07:53] thekordy commented on #75
If you already did any customization to the ticketit views, then you will
to backup these views as well, and republish the new ticketit version
views, as we did a massive improvements to the ticketit views.

[2015-11-04 07:57] riansopian commented on #75
I mean, the menu for the process that the tickets have already been settled or is being done, where the menu?

[2015-11-04 08:00] sicksand commented on #74
@thekordy woohoo thanks. now the bootstrap seem not working from the master file.
![image](https://cloud.githubusercontent.com/assets/305408/10932590/f717adb8-830c-11e5-831d-b5c1992837a5.png)
![image](https://cloud.githubusercontent.com/assets/305408/10932594/ffc9685c-830c-11e5-9377-44c977402110.png)

[2015-11-04 08:23] thekordy commented on #75
Do you have resources/views/vendor/ticketit  directory in your laravel
project?

[2015-11-04 08:24] sicksand commented on #74
![image](https://cloud.githubusercontent.com/assets/305408/10933030/7672318e-8310-11e5-9b55-08a5ffcab641.png)

seems the master.blade.php end up in cache. I have to delete it and remake it. now it is all good.
Thanks @thekordy

[2015-11-04 08:24] #74 closed, assigned to nobody

[2015-11-04 08:39] riansopian commented on #75
yes i have,
Ticketit already in my project, and running, I've created a new ticket, and how to process the ticket?

[2015-11-04 08:42] thekordy commented on #75
You have to use the new views in the new version, you have to replace your
current customized views in resources/views/vendor/ticketit directory with
the new version views in vendor/kordy/ticketit/src/Views , and then redo
the custom edits

[2015-11-04 08:46] thekordy commented on #75
If after that the problem remains, please give me a screenshot and paste
here the page source, so I can be more helpful to you.

[2015-11-04 14:44] andersondeoliveiramachado opened #76 "Adjustment for translation of some messages in the index and middleware."
diff --git a/src/Middleware/IsAdminMiddleware.php b/src/Middleware/IsAdminMiddleware.php
index 6430d09..284ac6f 100644
--- a/src/Middleware/IsAdminMiddleware.php
+++ b/src/Middleware/IsAdminMiddleware.php
@@ -20,7 +20,7 @@ class IsAdminMiddleware
             return $next($request);

[code]
-            ->with('warning', 'You are not permitted to access this page!');
-            ->with('warning',

[2015-11-04 17:18] DanielAscher opened #78 "Error on install"
hi,
on domain/ticket-install laravel hit's a 500 error:

[2015-11-04 17:14:56] production.ERROR: exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Maximum execution time of 30 seconds exceeded' in /var/www/domain.xyz/vendor/symfony/console/Formatter/OutputFormatter.php:165

[2015-11-04 19:33] thekordy commented on #78
May be something wrong happens when the script makes artisan commands, We still can process it manually to know which command causes the error in your laravel project.

**Manual install (alternative that bypasses /tickets-install):**

1) place the [ticketit.php config](https://github.com/thekordy/ticketit/blob/0.1/src/Config/ticketit.php) file in the your laravel project config folder
2) Modify th

[2015-11-04 19:36] #76 closed, assigned to nobody

[2015-11-04 21:12] rgilbert4307 commented on #75
![image](https://cloud.githubusercontent.com/assets/5492396/10952201/9c0ee184-8352-11e5-8fe4-6fe7425bee7d.png)

V 0.2.0 works fine after installation except for the css formatting/displaying-not appealing as your demo(see attached). How can i quickly fix it to appear like the one on your demo. Thanks,

[2015-11-04 22:21] Nimfus opened #80 "Different templates for backend and frontend"
Greetings!

Discovered this great library today and trying to implement it into my Laravel 5.1 project. Everything goes well until I tried to create different templates (master template) for frontend and backend.
Now Ive got master_template looks like 'backend.master.blade.php' and It's accessible only for administrator of the page and I would like users to use another template, for example 'front

[2015-11-04 22:23] thekordy commented on #75
@rgilbert4307 You have to include the bootstrap and jquery into your master views.

If this is a fresh laravel project and you don't know where to start, please refer to #74 where I already provided many handful resources to boot laravel views faster.

[2015-11-05 07:32] thekordy commented on #80
Hello :)

Well .. Laravel does not provide Roles system by default, you will need to alter the users table to add another column for user role, or to make a role table and a user-roles pivot for a more scalable solution.
Then you create a model with a check function like hasRole($role) , so you can check users roles, and use that check at the function you want to switch between templates and conte

[2015-11-05 08:19] Nimfus commented on #80
Thank you very much for answer!

I've got a role based system, so I will try to separate views just as you recommended.

Thanks again!

[2015-11-05 11:58] DanielAscher commented on #78
first problem occures when trying to publish the migrations:

Nothing to publish for tag [db].

[2015-11-05 12:54] thekordy commented on #78
Sorry it is my mistake, The db tag is now present.
update the package

[code]

and then proceed again with the manual installation

[2015-11-05 15:40] DanielAscher commented on #78
installed seems to work. Migrations succeeded, BUT: I can't access the ticket-admin site. It says that i'm not allowed to view this page.  I even set the "ticketit_admin" manually to 1 in my users table.
It also seems that ticketit is not reading the ticketit.php from /config/ as i actually set the user-id in there, but it did not alter the mysql data. The set master.blade.php i set in the config

[2015-11-05 15:52] thekordy commented on #78
It does not look for the ticketit_admin flag at the moment (I will put this on my tasks list). Also it loads the config/ticketit.php only the first time when it seeds the settings table, so adding user id to the admin ids array won't give any effect unless it is done before settings table seeding.

**Solution:**
1. If you have can edit the database, then got to the ticketit_settings table and look

[2015-11-05 16:17] DanielAscher commented on #78
okay, this worked. I'm now able to see the admin. Another problem occured: i could create a ticket, and the number of tickets increases, but i can not see a ticket

[2015-11-05 17:25] kasirye commented on #78
The auto installation is a good idea, but it seems "php artisan" command is not running from a script...
its also not possible to allocate another directory for a blade template...

[2015-11-05 18:20] thekordy commented on #78
@DanielAscher so you can access tickets-admin , but when you go to /tickets you don't see any ticket?

[2015-11-05 19:35] DanielAscher commented on #78
exactly. i can see it when i go to /tickets/1 though

[2015-11-05 19:57] #80 closed, assigned to nobody

[2015-11-06 05:09] fishmad opened #82 "Missing the two Pie Charts"
Any ideas as to why I don't have them anymore?
![capture](https://cloud.githubusercontent.com/assets/12012101/10989841/75675a12-84a0-11e5-8f0b-91479735129d.JPG)

[2015-11-06 14:10] goutamwms commented on #78
Hi, i was able to install properly . but can't seed . So i am unable to see data in ticket admin . Can you please help .

[2015-11-06 14:24] rgilbert4307 commented on #78
![image](https://cloud.githubusercontent.com/assets/5492396/10999049/e705e04e-84aa-11e5-8659-cac366aa5f38.png)

@thekordy I am experiencing the same problem as @DanielAscher. The system is properly installed but it can't list the tickets. Please assist.

[2015-11-06 18:04] fusiondesign commented on #78
Whats your dev console say for XHR errors?

[2015-11-06 18:30] thekordy commented on #78
@goutamwms why you can not seed? is it because of an error? Would you please provide more details about what you have done and what you are trying to do?

[2015-11-06 19:11] thekordy commented on #82
No idea .. what about the inspection console? could you please paste this page source?

[2015-11-06 19:27] thekordy commented on #78
@FusionDesign Yes, I think I've got your point :+1:   .. @rgilbert4307 and @DanielAscher seems like datatables javascript is not loaded, are you sure you added "@yield('footer')" in your master template?
If not, then please review this wiki page on how to integrate Ticketit with your master template https://github.com/thekordy/ticketit/wiki/Integrating-Ticketit-views-with-your-project-template

[2015-11-06 19:48] fusiondesign commented on #13
Yeah, I'll update this now!

[2015-11-06 19:54] fusiondesign commented on #78
That has to be it!

[2015-11-06 20:06] fusiondesign commented on #13
I'm pulling in the project locally to update the template and navigation. Will be up shortly.

[2015-11-06 20:22] fusiondesign commented on #13
Preview url has been updated at ticketit.fusiondesign.me

[2015-11-06 20:22] fusiondesign commented on #13
@thekordy

[2015-11-06 20:29] fusiondesign commented on #13
@thekordy Can you share your database seeder? Or did you do all these tickets manually? I like your demo clone better but I don't want to re-create the wheel if I don't have to :)

[2015-11-06 20:29] #13 closed

[2015-11-07 16:27] DanielAscher commented on #78
That was it. I really did miss the footer.

[2015-11-08 09:05] thekordy commented on #78
@DanielAscher glade to see your problem is solved, Thank you for using Ticketit :)

[2015-11-08 10:33] fusiondesign commented on #78
Kordy, I’m putting in your sqlite database today. Had to write up a massive quote!

FUSION DESIGN

Owner of Fusion Design

"Walking on water and developing software from a specification are easy if both are frozen."

 https://www.facebook.com/fusion.design.me Facebook |  https://www.twitter.com/_FusionDesign Twitter |  https://plus.google.com/+FusionDesignKalamazoo Google+ |  https://github.com/Fu

[2015-11-11 16:28] yelgazin commented on #73
The same issue occurs. Laravel Framework version 5.1.23 (LTS)
Step 2. Ок.
Step 3. I could not find resources/views/master.blade.php file. Only exists welcome.blade.php.
Step 4.  See nothing :-(

PS. Project locates in subfolder. http://someserver/it.

[2015-11-11 19:07] thekordy commented on #73
@yelgazin please review [this issue first](https://github.com/thekordy/ticketit/issues/74) and tell me if you still got a problem

[2015-11-12 14:02] yelgazin commented on #73
Step 3. See page.
Step 4. http://someserver/install-ticket
NotFoundHttpException in RouteCollection.php line 161: ....

It seems like ServiceProvider doesn`t works as expected.

[2015-11-12 14:54] thekordy commented on #73
It is http://someserver/<b>tickets-install</b>

[2015-11-12 15:06] yelgazin commented on #73
Yes. It redirects to /auth/login with message NotFoundHttpException in RouteCollection.php line 161
A shame to admit, but I could not see any error in apache or larevel log.

[2015-11-13 09:05] thekordy commented on #73
@yelgazin you have to be logged in first, if you have created users accounts, create one, and login, then go to the install link

[2015-11-13 10:49] yelgazin commented on #73
@thekordy I have created user, but exception occurs. Could you advice me how to trace? Maybe be  error due to Centos...apache config or something else.

[2015-11-13 12:58] thekordy commented on #73
@yelgazin What this message means is that laravel can't find this path `/auth/login` in the app/Http/routes.php file.

To activate the authentication system, you need three things to be done ([Laravel Authentication](http://laravel.com/docs/5.1/authentication)):
1. Migrate the user and password migration files (php artisan migrate)
2. Add the auth routes to the routes.php file
3. Create authentica

[2015-11-13 13:08] yelgazin commented on #73
@thekordy  thank you. Now it works. Next step is to integrate in domain and auth with NTLM :-)

[2015-11-13 13:23] thekordy commented on #73
@yelgazin Pleased to see it works for you. Thank you for using Ticketit :+1:

[2015-11-16 11:08] goutamwms commented on #78
Hi thekordy , please see the attached image .
![error](https://cloud.githubusercontent.com/assets/11768019/11180374/5abdddf2-8c80-11e5-8f44-0002945f20dc.png)

[2015-11-16 11:19] thekordy commented on #78
@goutamwms Hello, Actually .. The demo seeder is not stable, I just added it as a help tool for developers (who want to generate demo contents) to build on the top of it.
So my recommendation is to make a new controller, copy the demo seeder class content into it, adjust it as your needs, extend the php maximum execution time, run it once.

[2015-11-16 11:21] thekordy commented on #82
Hello Lee, any news?

[2015-11-16 11:35] goutamwms commented on #78
thekordy , can you please upload a full working code ..

[2015-11-16 11:46] thekordy commented on #78
@goutamwms .. working code of what?

[2015-11-17 07:18] #78 closed, assigned to thekordy

[2015-11-23 10:18] SnehalSatardekar opened #83 "Call to a member function prepare() on null"
Hello

I have installed this plugin on laravel 5.1, done migration and added provide in config/app.php.

But now when I try to run my project it shows me error as

"FatalErrorException in Connection.php line 319:
Call to a member function prepare() on null"

Could someone please help me with this?

[2015-11-23 10:37] thekordy commented on #83
To be able to help you, Please make sure you fulfilled the [pre-requirements](https://github.com/thekordy/ticketit/blob/0.2/README.md#requirements) and followed the 4 steps mentioned [here](https://github.com/thekordy/ticketit/blob/0.2/README.md#installation-4-8-minutes)

After that please mention the URL you were visiting when you've got the error, the exact steps you did in installation, the lar

[2015-11-23 10:41] SnehalSatardekar commented on #83
@thekordy

Steps followed are:
1. added "kordy/ticketit": "0.*" in composer.json
2. done composer update
3. added provider in config/app.php

Now I just hit "http://my_url/tickets-install" url and then it shows me the error

also config folder is not there in installed version.

Can I use the same with mongodb?

[2015-11-26 10:29] datune opened #86 "Admin Settings not refreshed"
Making a change to the configuration is not applied unless I manually delete the cache folder.

For example, changing the default_reopen_status_id in a production environment is not going to actually change until the cache is deleted.

Steps to verify:
1. Login as admin, create ticket
2. Change the default_reopen_status_id in your configuration
3. Close your ticket
4. Reopen your ticket

The reope

[2015-11-26 11:05] thekordy commented on #86
@datune Thank you for your feedback, This is a real problem I am aware of it. I will work on it so when any update to the settings should reset the cache as well.

[2015-11-26 11:07] thekordy commented on #86
In the mean while (as a work around), you may enable (uncomment) the cache forget in [Settings Model](https://github.com/thekordy/ticketit/blob/0.2/src/Models/Setting.php#L47), that will remove settings cache every time.

[2015-11-26 11:52] datune opened #87 "Carbon Values are not translated"
You are using diffForHumans, which produces output such as "20 seconds ago", but these values are not translated...

I did a bit of research and I think it can be fixed by using this: https://github.com/jenssegers/date

[2015-11-26 12:30] datune commented on #87
I'm going to make a pull request showing how to fix this...

[2015-11-26 12:45] datune commented on #87
Alright, my second pull request incorporates this "fix/feature".

Basically, here are the steps:
- Add requirement to composer.json
- Override two methods in Model Ticket.php (freshTimestamp() and asDateTime())
- Add bindings to register method in TicketitServiceProvider

[2015-11-26 19:34] thekordy commented on #87
Thank you very much for your both PR, I tested them and I found no problems, well done.

One thing, in order to allow people to use the jenssegers package without errors, we need them to upgrade using the composer, the most easy way is to make a new patch, that's why I created a new 0.2.1 branch.
So if it is possible, would you please make the PR to the 0.2.1 branch instead of the 0.2 ?

[2015-11-28 03:26] Wigglez opened #89 "Datatables popup every time http://domain/tickets is requested"
![Image of problem](https://i.imgur.com/844oqdy.png)

[2015-11-28 04:23] #89 closed, assigned to nobody

[2015-11-28 04:23] Wigglez commented on #89
My users table had the altered column "user.name" to "user.username" so the default collection was referencing the wrong location.

[2015-11-28 06:46] #75 closed, assigned to nobody

[2015-11-28 06:47] #73 closed, assigned to nobody

[2015-11-29 13:59] thekordy commented on #87
Applied your Fix to v0.2.1 .. Thank you very much

[2015-11-29 13:59] #87 closed, assigned to nobody

[2015-11-29 14:00] thekordy commented on #86
Fixed in v0.2.1

[2015-11-29 14:00] #86 closed, assigned to nobody

[2015-11-30 21:02] datune commented on #87
Thanks, sorry I did not have the time to apply it to 0.2.1...

[2015-12-01 14:50] thekordy commented on #87
Never mind, and Thank you again for your contributions, it made Ticketit better :+1:

[2015-12-07 19:28] thekordy commented on #3
v0.2.1
Administrators management
![laravel - administrator management 2015-12-07 21-26-32](https://cloud.githubusercontent.com/assets/11343048/11637347/7b1c3116-9d29-11e5-871b-bdab41d2bc4f.png)

[2015-12-08 16:45] Gummibeer opened #91 "Form alias overrides app config"
If anyone has it's own FormBuilder or a customized one of the "default" the ServiceProvider breaks it - would be nice if there is any config for this or and other Alias for this package internal or the Facade directly and not via alias. But this has destroyed my application and I had to remove the service provider until this is fixed.

[2015-12-08 19:04] thekordy commented on #91
I am terribly sorry for this issue, I hope this update would fix it.

[2015-12-08 21:24] tmcdon89 opened #92 "Tickets missing from Active page"
I have been integrating the system in with an app I've been working on and its been going pretty smooth. However I've now submitted 4 tickets from the admin account and none are showing up in the "My Tickets" page. They are registered because the "Active Tickets" link shows 4 tickets, but there is nothing there when you browse to it.

I've checked the database tickets table and the tickets are the

[2015-12-09 06:10] thekordy commented on #92
Would you please show us a screenshot of the tickets page? and for the agents and administrators pages if possible?

[2015-12-09 12:17] fishmad commented on #82
I will have another play tommorow try figure this out, wondering if its a limitation of running a localhost setup.

[2015-12-09 13:40] tmcdon89 commented on #92
I believe these are the screens you mean, correct?
I'm also including a screenshot of the ticketit table in my database. All 4 tickets were created using the Create Ticket interface. The one completed entry was set manual with sql just to see if tickets were showing up in the completed page (no go there either).

Thanks for the help!

![screen shot 2015-12-09 at 7 37 33 am](https://cloud.githubuse

[2015-12-09 13:56] Gummibeer commented on #91
Looks good - I will test it today and give feedback. Thanks for the quick response and fix! :)

[2015-12-09 14:55] tmcdon89 commented on #92
Well this is embarrassing! I didn't upload the @yield('footer') adjustment to my layout. Sorry to waste your time.

[2015-12-09 14:55] #92 closed, assigned to nobody

[2015-12-09 16:23] Gummibeer commented on #91
Which version do I have to load via composer to get this change? `dev-master` or is there already a tag?

[2015-12-09 16:45] thekordy commented on #91
I haven't released the new patch yet, you have two ways to install yet

1) Install the packagist dev package

[code]

2) or to install it like normal and just go to `vendor/kordy/ticketit` and make `git pull`

[2015-12-09 16:46] Gummibeer commented on #91
Ok, this has solved my Problem.

But I recommend a config entry for this alias `'form-alias' => 'Form',` cause if you change it without this fallback all old versions will break - with this option it's possible to set it to whatever the dev want and don't break the old versions.

[2015-12-09 16:48] Gummibeer commented on #91
Or a config to prevent this alias and use directly the customized one with the `Form`alias.

[2015-12-09 16:54] thekordy commented on #91
That is a very good idea, it is even better than what I did. I will try to implement it in the installation process.

[2015-12-09 16:56] Gummibeer commented on #91
And just for me: why do you use DB settings and not the laravel config files and use an installation process with views and not the laravel package way: `artisan vendor:publish, configs and so on?

[2015-12-09 16:58] thekordy commented on #82
Dude, I am very pleased for seeing you again, you have been off for a long time. How have you been?

[2015-12-09 17:23] thekordy commented on #91
We were using it, there is a discussion here about switching to db for configuration in order for some features we were planning for.
Actually we still use it, as at the installation, the system will look for the config/ticketit.php config file and insert its settings into the db.

[2015-12-09 21:22] Gummibeer opened #93 "migrations Table not found"
[code]

This error occurs if I try to migrate without a migration table - this method `inactiveMigrations()` in the `InstallerController` is the reason.

Why checking the Migration state? The `artisan migrate`command does this already.

[2015-12-09 21:25] Gummibeer commented on #91
Ok, but it makes the things a lot more complicated. Changing settings in the database is much harder than changing the config file.
Also for deployments (dev, stage, live) and the DB settings can't be customized by `.env`.

It's one of the only reasons why I'm thinking about do the job my own cause it's so much to do to get a customized version of this package.

[2015-12-09 21:42] borger commented on #69
+1!

[2015-12-10 15:23] tmcdon89 opened #94 "Direction of Project"
Hi, I'm very interested in this project. That being said, I'm curious as to the ultimate goal of the project?

Is this a ticketing system targeted at internal IT or for a HelpDesk type company servicing multiple clients?

The latter would be the most useful to me so I'm hoping thats the direction.
Some things to look at (excuse me if its already been suggested)

1) Update and/or Create new tickets

[2015-12-10 17:40] thekordy commented on #93
Disable the TicketitServiceProvider, install the migration table, install users and passwords tables, and then install Ticketit. They are pre-requirements

[2015-12-10 17:45] thekordy commented on #94
I have not thought about the multi-company before, how that work?
Other thank that, I find all of your points very interesting, actually many of them are already discussed and planned (find issues with feature development label) but no one got time yet to start on them, so you are very welcomed to participate on any of them or any of the ones pointed here.

[2015-12-10 18:00] tmcdon89 commented on #94
The Companies would basically allow another filter that you can do some interesting things with in the future. Such as having Customer admins who can view all tickets from their Company only, sorting of tickets for incoming emails based on domains linked to Companies etc... Customers shouldn't have to be linked to a company.

Its just a higher level tier of sorting for your customers:
Company

[2015-12-11 08:35] thekordy commented on #94
The company access is a very interesting idea, but for me I would make it lower priority than other mentioned above.
I will make a new branch for the new planned features, you can fork it and apply new features, and i will give you a hand on some of them, I am very interested in attachments and creating tickets by email.

[2015-12-11 08:58] thekordy commented on #92
Never mind, glade to see it's working for you.

[2015-12-11 09:45] thekordy opened #95 "v1.0.0 roadmap"
I think it's the time for a full upgrade including the core and the features as well.

My plan is to address these issues in the v1.0.0 release (Not necessary in same order, and not necessary in the first release, but can be added in patches):
1. Full rewrite of the dashboard queries to low down the number of queries and make it faster. #71 **(done in efd7461d85718c25beae5cfb68f184bf186e19d1)**
2.

[2015-12-11 09:48] #16 closed

[2015-12-11 09:48] #26 closed

[2015-12-11 09:48] #27 closed

[2015-12-11 09:48] #28 closed

[2015-12-11 09:48] #29 closed

[2015-12-11 09:48] #53 closed, assigned to nobody

[2015-12-11 09:48] #69 closed, assigned to nobody

[2015-12-11 09:48] #70 closed, assigned to nobody

[2015-12-11 09:48] #71 closed, assigned to thekordy

[2015-12-11 09:48] #83 closed, assigned to nobody

[2015-12-11 09:52] #91 closed, assigned to nobody

[2015-12-11 09:52] #93 closed, assigned to nobody

[2015-12-11 14:49] jetwes opened #96 "Only working as admin"
First - compliment for the great package.
I had a couple of problems during installation - but everything is working well now - if the user has the admin-flag. Seems to be something with the settings - but I don't know why...
If a non admin tries to acces /tickets this error is thrown:
ErrorException in Setting.php line 56:
Trying to get property of non-object (View: /home/www/p279869/html/portal/

[2015-12-11 19:43] thekordy commented on #96
I am so sorry for this issue, please go to `vendor/kordy/ticketit` and make `git pull` to get the last update. I hope this update fixes your issue

[2015-12-12 02:34] fishmad commented on #82
Hi Kordy, I'm good been busy with work but I'm still here..

I've just compared my view source html code to your demo site and I'm seeing a small error my snippet below appears to be missing comma's after the square brackets ["dfhsdgfhsf"],

[code]

![2015-12-12_13-30-42](https://cloud.githubusercontent.com/assets/12012101/11759696/ffdb04e6-a0d4-11e5-9f4c-0cf8e6187eca.jpg)

[2015-12-12 03:14] fishmad commented on #82
\laravel-plus\vendor\kordy\ticketit\src\Views\admin\index.blade.php

line 260

[code]

add comma to end:

[code]

All charts now working.. :-)

@Kordy Can you check this and add fix if all ok - add to next commit.

![24](https://cloud.githubusercontent.com/assets/12012101/11759926/e959aab4-a0da-11e5-80b9-0f89b6e73fe8.jpg)

[2015-12-12 03:53] tmcdon89 commented on #95
On number 11 what were your initial thoughts on that? Should it be some sort of controller page that allows services like mailgun to pipe json to it, or were you thinking more along the lines of the application pulling emails from an imap account more along the lines of this: https://github.com/barbushin/php-imap

[2015-12-12 07:14] fishmad opened #97 "AdministratorsController does not exist"
Class Kordy\Ticketit\Controllers\AdministratorsController does not exist

Found file name:
AdministratorController.php

Solution change to:
AdministratorsController.php

[2015-12-12 08:52] thekordy commented on #97
Thank Lee, I have not noticed at all :+1:

[2015-12-12 08:52] #97 closed, assigned to thekordy

[2015-12-12 09:01] thekordy commented on #82
I don't know why it was working before on my machine

[2015-12-12 09:14] thekordy commented on #95
That's it, and I think we can use a package like that one.
To be more clear, we would have a new controller that depends on a third party email piping (like barbushin/php-imap) .. this controller would check the support email inbox every period of time for new emails, if found any new email, it will create a new ticket with the subject of the email as ticket subject, and the email body as the tick

[2015-12-12 10:34] chi07 opened #98 "Can't not show tickets"
![my website - helpdesk main page](https://cloud.githubusercontent.com/assets/12810993/11761465/69fafb08-a0f6-11e5-9cdd-b4af7f922f27.png)

Everything works well but, it has not shown tickets. Please help me

[2015-12-12 10:52] thekordy commented on #98
You need to add footer section into your master view, please read this wiki on [integrating ticket it with your template](https://github.com/thekordy/ticketit/wiki/Integrating-Ticketit-views-with-your-project-template)

[2015-12-12 10:56] chi07 commented on #98
OK. Working well. Thanks @thekordy :)

[2015-12-12 11:00] thekordy commented on #98
You are welcome

[2015-12-12 11:00] #98 closed, assigned to nobody

[2015-12-12 15:36] jetwes commented on #96
Thanks! That's it.

[2015-12-12 15:36] #96 closed, assigned to nobody

[2015-12-12 15:37] jetwes commented on #95
This is awesome, especially the ticket creation via email - thats a thing i thought of first. If i can help in anyway - you're welcome

[2015-12-12 17:12] tmcdon89 commented on #95
My thoughts on the points provided:
1. I think there should be a checkbox option to either auto create accounts for unrecognized emails or not accept them. It could additionally be limited to only auto create accounts based on the domain address of the sender. So if jdoe@foo.com sends an email they get an account created. If jdoe@bar.com sends one it is ignored/dropped, or potentially dropped into

[2015-12-13 00:58] #82 closed, assigned to nobody

[2015-12-13 17:43] thekordy commented on #95
@jetwes Thank you for your feeling. You can help by coding, translating, testing, or feedback, any of these would be very appreciated :)

[2015-12-13 17:57] thekordy commented on #95
@tmcdon89 Thanks for the work time PR.

I agree with you on the first and the second points, and I don't think we should waste time on trying to remove the signature, but it's better (and it might be easier) to focus on removing quoted notification.

4) it should search first on the incoming email subject, if present, then it's only a new comment, if not present then create a new ticket.
5) a defa

[2015-12-13 22:39] tmcdon89 commented on #95
I am weighing the pros and cons of where to store the attachments. I definitely think its more straight forward to store them on the file system and simply reference their path from the database but it would also be nice having everything contained within the database to easily move between hosts.  What are others thoughts on where to store the attachments?

[2015-12-13 23:08] fishmad commented on #95
+1 - store them on the file system and simply reference their path from the
database.

On Mon, Dec 14, 2015 at 9:39 AM, tmcdon89 notifications@github.com wrote:

[2015-12-14 07:36] jetwes commented on #95
yes - i think it's the better option to just reference the path

[2015-12-14 10:34] thekordy commented on #95
:+1:

[2015-12-14 10:37] thekordy commented on #95
You can use relative path in the database, and the attachment class would transform it to the current path

[2015-12-14 21:10] tmcdon89 commented on #95
I'm making the assumption that we would want these files stored within the base folder of the Laravel installation? Something like: base_path() . '/Attachments/foo'
Where foo is where the attachment came from, such as "Comments" or "Email"

[2015-12-15 01:10] aske-cph opened #104 "View not found, and no config file?"
Hi, thanks for the system!

I just installed. I get two errors after the initial redirect after installation:

[code]

Also there is no config file present anywhere corresponding to the one mentioned in the wiki.
Neither config/ticketit.php (in my own folder). The folder "vendor/kordy/ticketit/src/Config/ticketit.php'" is not present?

Thanks in advance!

[2015-12-15 07:37] jetwes commented on #95
I would prefer storage_path().'/app/user/ticketit/attachments' - since the storage is for that type of files.

[2015-12-15 07:45] thekordy commented on #104
probably the master view file path is not set, and we use the database instead of the config file for settings.
To solve this, you have to fire the installation process again, you may do migrate rollback then visit again http://projecturl/tickets-install  .. and make sure to choose the right master view file.

[2015-12-15 10:43] aske-cph commented on #104
Thanks for the quick answer!
You were right.
For some reason both "master_template" values were empty.

But setting them manually deosn't help.

My Laravel app serves all views from the public folder. (not default, because angular app).
Is that maybe why the view finding fiails? Is the path hardcoded somehow to resources?

Anyways, i have placed master.blade.php file in both resource/views, and in

[2015-12-15 14:03] thekordy commented on #104
How do you extend the master template? as in a child view we use `@extend('master')` , so in your case what do you write in place of "master"?

[2015-12-15 19:50] jetwes opened #105 "Agent can't see his own ticket"
If an user , who is agent in category A, creates a ticket for category B, he can't see is in his Dashboard...

[2015-12-15 20:46] jetwes commented on #105
I changed the AgentModel

[code]

[2015-12-17 16:11] aske-cph commented on #104
Thanks for the help!

I made it work by just writing "master" in both columns (in the template setting row) in the database.

AND running the command:

[code]

[2015-12-17 16:12] #104 closed, assigned to nobody

[2015-12-18 09:40] thekordy commented on #104
Glade to see it works for you, and thank you for the feedback.

[2015-12-30 16:32] kevosomi opened #112 "Undefined variable: unreadsupportTicket"
ErrorException in b74a190440c34514c0889d07a7264122 line 65:
Undefined variable: unreadsupportTicket (View: C:\xampp\htdocs\dollarsasa\resources\views\InternalPages\customers\CustomerPagesLayout.blade.php) (View: C:\xampp\htdocs\dollarsasa\resources\views\InternalPages\customers\CustomerPagesLayout.blade.php)
in b74a190440c34514c0889d07a7264122 line 65
at CompilerEngine->handleViewException(object(

[2015-12-30 17:15] thekordy commented on #112
Ticketit views do not use this variable `$unreadsupportTicket` .. If you have no use for it, then go to this file `CustomerPagesLayout.blade.php` and search for this variable and remove it.

[2015-12-30 17:15] #112 closed, assigned to nobody

[2015-12-30 17:23] kevosomi commented on #112
In reference to the issue you just closed, is it possible to pass variables to the package so that they can be displayed along?

[2015-12-30 17:34] thekordy commented on #112
You may pass any data you want to any view through the [view composers](https://laravel.com/docs/5.1/views#view-composers) in which this way you don't need to modify the Ticketit package to do this.

[2015-12-30 18:30] kevosomi commented on #112
Just one more question: how do I differentiate and assign urls to users, agents, and admins in such a way that different views are generated for each user. For instance, currently am logged in as a standard user, however, I am able to access the admin panel of ticketit. Sorry for the hustle and I appreciate the help.

[2015-12-30 18:39] thekordy commented on #112
go to settings -> administrators , add the administrators and remove that user from administrators

[2015-12-30 19:56] kevosomi opened #113 "Trying to get property of non-object (View: C:\xampp\htdocs\dollarsasa\vendor\kordy\ticketit\src\Views\emails\assigned.blade.php)"
Hello,

Now I am getting the following error whenever I try to submit a ticket

at CompilerEngine->handleViewException(object(ErrorException), '1') in PhpEngine.php line 44
at PhpEngine->evaluatePath('C:\xampp\htdocs\dollarsasa\storage\framework\views/54eae1cbe7cf24e748fa4597f1b129d5', array('__env' => object(Factory), 'app' => object(Application), 'errors' => object(ViewErrorBag), 'ticket' => 'O:

[2015-12-30 20:09] thekordy commented on #113
As mentioned in the [README Requirements](https://github.com/thekordy/ticketit#requirements) you have to setup the laravel email OR to go to settings -> configuration -> notifications and disable the last four options to not send any notifications.

[2015-12-30 20:17] kevosomi commented on #113
Awesome, sorry for the hustle. It was an issue with my internet connection! All is a bliss now, and I wish there was a way I could buy you a cup of coffee! :+1:

[2015-12-30 20:17] #113 closed, assigned to nobody

[2015-12-30 21:59] thekordy commented on #113
It is a pleasure to see your issue is resolved :)

[2016-01-03 22:00] balping opened #116 "rich text"
Have you considered implementing some markdown, bbcode or some other wysiwyg editor functionality?

It"s not important at all, just an idea for later when there's nothing with higher priority to do

[2016-01-04 15:54] tmcdon89 opened #117 "Issues with Email"
1) It does not add the reply email as a comment to the original ticket, instead it creates a new ticket for the reply email
It looked like your email subject was showing as the ticket subject rather than "\* added new comment on ticket *" This would be why. I'm not sure if the subject wasnt sent out correctly to you from the comment email or what the issue was, but thats the string that the emailc

[2016-01-04 19:24] thekordy commented on #117
You have done a great work, and I wish I could be more helpful to you, may be couple of days and you will find me working on this issue with you.

[2016-01-06 17:32] tmcdon89 opened #118 "Ticket Subject in primary view"
I am working up a clean install of Laravel and Ticketit v1.\* to do some testing but I must have forgot or messed something up.

In my main view of the tickets for both agents and users all columns are showing correctly except for the "Subject" column. This column shows "[object Object]" for every ticket. Additionally there are no links to the details pages of the tickets. I can go to them directl

[2016-01-06 20:23] tmcdon89 commented on #118
This is resolved with @balping  commit dfe866f

[2016-01-06 20:23] #118 closed, assigned to nobody

[2016-01-07 10:26] thekordy commented on #116
I think a small bbcode editor would be nice

[2016-01-10 05:26] christopherdev opened #121 "Undefined variable: main_route"
hi,

I am relatively new to laravel and I have this issue ErrorException in routes.php line 3:
Undefined variable: main_route.

any idea what have I missed?

tnx

[2016-01-10 07:37] thekordy commented on #121
That's OK but you have to make sure you fulfilled all [requirements](https://github.com/thekordy/ticketit/blob/0.2/README.md#requirements)  and follow every step from the [four steps](https://github.com/thekordy/ticketit/blob/0.2/README.md#installation-4-8-minutes) to make it work, if you miss any of these,  you will only get errors and nothing will work.

For this issue, I think you missed the [s

[2016-01-11 22:23] #121 closed, assigned to nobody

[2016-01-15 03:36] balping commented on #116
I implemented this, using summernote, I'll update readme, wiki, etc. tomorrow, because it's setup is not that trivial. After that it's time for a new release I think

[2016-01-15 10:07] thekordy commented on #116
Are their further required steps to get it work?

[2016-01-15 12:02] thekordy commented on #116
I tried it and I had some issues that we need to work on it:

1) I get error because the installer failed to spot the new inactive migrations and I fixed it here 031098491221094102900d852f3abd9f1cb36c07

2) When it tries to install the new migrations I get this error
![2016-01-15 13-51-46](https://cloud.githubusercontent.com/assets/11343048/12352667/b2852768-bb90-11e5-9c3e-b5ea91422e95.png)

That

[2016-01-15 13:40] balping commented on #116
Hi!

Sorry for the delayd reply. So basically there are 3 things to do for upgrading:

1) run migrations - you've already done this. Also, thanks for the migration fix

2) run the settings seeder since there are some new settings added. I dont know if it can be run without modifying the existing settings

3) running `php artisan ticketit:htmlify` This copies existing content data to html

These in

[2016-01-15 14:07] Devsome opened #122 "auth Problem - Then undefined function get"
Hello,

I followed the tutorial and this didn't worked for me.
I needed to uncomment in TicketitServiceProvider.php line 112 & 116 the middleware => auth.
After that I was able to migrate the database with the post request.

Changes where made in the database and I hoped it worked, but sadly not.
Then I located to the /tickets page and
Call to undefined function get() on line 5

Thanks for your ti

[2016-01-15 14:29] thekordy commented on #116
Hi
I will make sure 1, 2, and 3 will be done automatically through the installation process.

[2016-01-15 14:57] thekordy commented on #122
Make sure you have [all requirements](https://github.com/thekordy/ticketit/blob/0.2/README.md#requirements) set up correctly .. to install Ticketit you have to have a user account and to be logged in.

[2016-01-15 15:11] Devsome commented on #122
@thekordy : Thanks for your reply.
 I am using the newest Laravel version.
Got the User tables and also logged in (added the Acl Service from Kodeine)
Laravel is using the mailgun server (works)
Bootstrap and jQuery installed.

// update: When i am not logged in and trying to call /tickets-install/ I need to login, after that again nothing happens.

[2016-01-15 15:23] thekordy commented on #116
finally works in chrome .. but it is broken in firefox

![ticketit - new ticket form 2016-01-15 17-21-48](https://cloud.githubusercontent.com/assets/11343048/12356682/8a8fb2d4-bbac-11e5-9c58-2b703615d840.png)
![ticketit - ticket minima voluptas dolor vero illum rerum sit 2016-01-15 17-21-30](https://cloud.githubusercontent.com/assets/11343048/12356683/8a92ed96-bbac-11e5-9cf6-27a229f6f15a.png)

[2016-01-15 15:57] thekordy commented on #122
We are not yet compatible with laravel 5.2

[2016-01-15 15:58] Devsome commented on #122
@thekordy : Guess thats the error then.
Thanks for your time

[2016-01-15 17:56] balping commented on #116
I'll check it

[2016-01-15 18:06] balping commented on #122
This package works for me with Laravel 5.2 (using dev branch). All compatibity issues have been solved, hopefully you'll be able to use ticketit in laravel 5.2 when the next release comes which will happen in few days

[2016-01-15 18:20] Devsome commented on #122
@balping : Thats sounds amazing. Waiting for the release then :+1:

[2016-01-16 01:20] balping commented on #116
jquery included, works now in firefox

https://github.com/thekordy/ticketit/commit/920e08a9dd21ba2eddb7a33495892b43e2bfa433

[2016-01-16 08:08] balping commented on #116
Ok, so now I found this in the readme:

So assuming that jquery is installed was not groundless... Anyway, once implemented, I won't remove it, but maybe we should set the default to 0

[2016-01-17 14:44] thekordy commented on #116
yes, we probably should ..  and yes, jquery should be included by the requirements

[2016-01-17 14:59] thekordy commented on #116
After I updated to your last commits, it works only if I turned the include_jquery off (set to 0) ..

[2016-01-17 16:41] balping commented on #116
It was because `show.blade.php` used jquery before it was included in `summernote.blade.php`

Since it's not easy to manipulate blade's include order, it is cleaner if I completely  remove jquery option from ticketit. Users should read the readme anyway.

https://github.com/thekordy/ticketit/commit/1b1aeecdf4b1205d8536067adc8051fa5930efa5

[2016-01-18 08:03] thekordy commented on #116
That's awesome, now the only thing left is to make Ticketit since the new settings added and to set them up automatically, I will do that by the weekend.

[2016-01-18 08:45] balping commented on #116
BTW, with this editor users can now upload images, you could include this on the feature list

[2016-01-18 14:27] tmcdon89 commented on #116
Looks good guys.
Will the attached images save in the same place as the other attachment options in v1.x?

[2016-01-18 14:49] balping commented on #116
No, there's no connection between these two. Now each comment/ticket has a LONGTEXT column in the database which can store data up to 4 GB. If you attach an image using the editor, it will be stored base64 encoded together with the text. You can limit the size of course if you want. There's actually another column that stores only plain text, it can be used for text-based search (if someone implem

[2016-01-18 19:43] thekordy commented on #116
I really prefer filesystem over database for files upload, and if we already have file upload settings (like what @tmcdon89 added to 1.0 configuration), they should apply for all system uploads (like allowed extensions, upload path, maximum size)

[2016-01-19 00:30] balping commented on #116
One can easily switch this database file upload off. I'll add the necessary docs for that

[2016-01-19 12:16] larasoft-io commented on #122
@balping looking forward to this release.  in need of a ticketing package for my L5.2 project!

[2016-01-19 12:17] balping commented on #122
@thekordy makes releases

[2016-01-19 12:19] balping commented on #122
@ajs87  But you can use dev until he makes the new release:

[code]

[2016-01-19 12:21] larasoft-io commented on #122
Thanks @balping, I'll take a look.

[2016-01-19 12:23] balping commented on #122
Just clean everything related to ticketit before installing. Upgrading doesn't work (yet), but a fresh install should

[2016-01-19 12:24] larasoft-io commented on #122
sure thing, I'll make sure it's fresh.  Thanks for your help

[2016-01-19 12:28] balping commented on #122
I'll try this with a fresh 5.2 install as well. Although I'm using L 5.2 in my own project as well, I upgraded it from 5.1 (and before from 5.0), so my install might be a bit different, so I'll try this now to be sure it works with a fresh 5.2

[2016-01-19 12:47] balping commented on #122
Ahh wait! Now I see your problem. I'll correct this issue now

[2016-01-19 12:49] larasoft-io commented on #122
Thanks! :+1:

[2016-01-19 13:36] fishmad commented on #117
I'll set up a test and see if I can help.

[2016-01-19 14:05] balping commented on #117
I'm right working on it. I'll making a commit in about 10 minutes

[2016-01-19 14:07] fishmad commented on #117
Nice

[2016-01-19 14:10] tmcdon89 commented on #117
Sounds great! I've been swamped and havent had much time to tackle debugging it.

[2016-01-19 14:11] balping commented on #122
https://github.com/thekordy/ticketit/commit/4ee42a1518342026c04f007463a37c6ddb9ecbf9

[2016-01-19 14:13] larasoft-io commented on #122
Nice work. Let's have a play. :+1:

[2016-01-19 14:14] balping commented on #122
Now agents table not found for me, another issue is coming....

[2016-01-19 14:45] balping commented on #122
I made another few commits, everything should work now

[2016-01-19 15:14] balping commented on #3
v0.2.3

WYSIWYG editor

![demolorem](https://cloud.githubusercontent.com/assets/5840038/12422472/6d235034-bec7-11e5-8387-5851d5ee4a53.png)

Help text when editing configuration

![helptext](https://cloud.githubusercontent.com/assets/5840038/12422510/99ff1020-bec7-11e5-84b5-b0ba928285e3.png)

Now serialized config can be saved without external services

![admin_codemirror](https://cloud.githubuserc

[2016-01-19 15:21] balping commented on #122
Yeah, now I tested as many features as I could and it seems that now we really have full L5.2 support :-)

[2016-01-19 19:33] larasoft-io commented on #122
Great Work @balping.

[2016-01-19 20:06] #122 closed, assigned to nobody

[2016-01-19 20:06] #116 closed, assigned to nobody

[2016-01-19 20:47] thekordy commented on #117
That's the spirit :+1:

[2016-01-19 20:48] #105 closed, assigned to nobody

[2016-01-19 20:55] balping commented on #117
Oh sorry guys, I thought it was the other issue... https://github.com/thekordy/ticketit/issues/122

I wan't working on this. But I'll check it tomorrow, now I have plenty of time :-)

[2016-01-19 20:58] thekordy commented on #95
added new capability to the installer (starting from v0.2.3 +), so the system will check at the start up for any new migrations or settings, if any found, will force the upgrade window for only administrators 8a26f3d7a794022762e33d31afb4983e962a8373

[2016-01-19 21:33] balping opened #123 "Coding convention, StyleCI?"
While making several commits to this repo, I tried to follow the coding style I found in the given file I was editing. However I have the impression that not all lines of this code follow (a) / (the same) coding convention. I might be wrong anyway. The majority of the code seems well formatted, but I don't recognize the convention. I'm actually not familiar with popular conventions, in my own proj

[2016-01-19 21:36] tmcdon89 commented on #123
I'm inclined to agree that having a "style" would be beneficial.

[2016-01-20 08:02] thekordy commented on #123
PSR-2 would be fine for a code convention. and I agree with you, StyleCI would help a lot, and I am subscribing right now.

[2016-01-20 11:04] balping commented on #123
:thumbsup:

[2016-01-20 19:42] tmcdon89 opened #125 "unserialize error"
I'm attempting to merge the latest v.2 enhancements into my copy of v1 but I am running into the following error while attempting to add a comment to a ticket.

ErrorException in Setting.php line 61:
unserialize(): Error at offset 256 of 255 bytes

I am getting a similar error when attempting to access the purifier setting from the settings configuration pages.

unserialize(): Error at offset 256

[2016-01-20 19:45] balping commented on #125
Could you `var_dump($setting->value)` just before this ?

[2016-01-20 19:53] tmcdon89 commented on #125
This is the return I'm seeing if I var_dump before the if statement in question.

string(7) "tickets" string(13) "tickets-admin"

[2016-01-20 19:59] balping commented on #125
I don't really understand, one variable has only one value, not two

[2016-01-20 20:10] tmcdon89 commented on #125
I'm not sure if I messed something up in the process of attempting to put the branches together. But its definitely a strange thing to happen.

[2016-01-20 22:12] tmcdon89 commented on #125
OK, so it was something going on with the current installation. Clearing everything out and installing my branch fresh resolved that issue.

[2016-01-20 22:12] #125 closed, assigned to nobody

[2016-01-21 08:54] thekordy commented on #125
That's very interesting, I was going to try the same to merge the new changes in 0.2 into 1.0. I am wondering if you have succeeded to merge them.

[2016-01-21 11:40] tmcdon89 commented on #125
I am making progress on the merge but I do not have it completely working yet. On a clean install I am getting the error with the settings table which is odd because the fix that you commited is in place so I need to see why it's not using it.

[2016-01-21 20:24] #123 closed, assigned to nobody

[2016-01-21 20:25] thekordy opened #129 "Class not found error"
After a fresh install, I get this error when I try to access any ticketit-admin pages

![ticketit 1 0 classnot found error](https://cloud.githubusercontent.com/assets/11343048/12493483/dc50ea12-c08d-11e5-9778-502dc787dc97.png)

[2016-01-21 20:39] thekordy commented on #129
this only happens with v1.0 and laravel 5.1 .. I have not found any problem for v1.0 with laravel 5.2 as well as v0.2 with laravel 5.1 and 5.2

[2016-01-21 20:55] tmcdon89 commented on #129
I'm taking a look at what might cause this. I know the reflexion exception errors are often related to a name spacing issue. Did you notice this before or after updating to the psr-4?

[2016-01-21 21:18] thekordy commented on #129
The problem is somewhere in this commit d3c38f5a0a2c6acb81576af312c26d6df8dd117b

[2016-01-21 21:20] tmcdon89 commented on #129
I originally had issues with the 'web' class in the laravelhelpers file. It could be there. I'll try that next.

[2016-01-21 21:26] tmcdon89 commented on #129
Yah my issue goes away if I set it to at line 87:

public static function authMiddleware()
    {
        return ['auth'];
    }

[2016-01-21 21:50] thekordy commented on #129
You are right about the reason. but Laravel 5.2 uses web middleware instead of auth, so this solves 5.1 problem but makes another problem with authentication and session handling in 5.2

[2016-01-21 21:51] thekordy commented on #129
So I used your suggestion in this way so something like function below might solve it, I tried it with both 5.1 and 5.2

[code]

[2016-01-21 21:56] tmcdon89 commented on #129
That works for me also. Which I'm on Laravel version 5.2.10 currently.

[2016-01-21 22:13] thekordy commented on #129
That is perfect, thank you for help :+1:

[2016-01-21 22:14] #129 closed, assigned to nobody

[2016-01-22 12:57] ghost opened #130 "Demo App not working"
Hi,

Few weeks back I tested the demo page and it worked but It isn't working anymore when I checked it just now, thanks.

[2016-01-22 16:31] thekordy commented on #130
Hi,
It is working again now, thank you for notifying us.

[2016-01-22 21:00] #130 closed, assigned to nobody

[2016-01-23 13:23] balping commented on #117
Auto assign now works

https://github.com/thekordy/ticketit/commit/3d601cb05d16b1dcf65555b7639f0903a13b2084

[2016-01-23 18:49] balping commented on #117
I found this package: https://github.com/willdurand/EmailReplyParser

Others have already done this functionality before, maybe we could use it. What do you think?

[2016-01-23 19:02] tmcdon89 commented on #117
I personally have no issues using more packages as long as they accomplish a new task or more completely fulfill a current one. It looks like it does some work with signatures in addition to replys so thats definitely a benefit.

[2016-01-23 20:32] thekordy commented on #117
But that package works only with emails in english language, and yet it won't connect the reply email subject with the original ticket.

I have an initial idea to resolve this:
1) **To connect reply email with the ticket**, we may add the ticket id to the subject of the first confirmation email sent to the user created the email, ex: "My issue subject [id: 123]" .. this can be checked by a simple

[2016-01-23 20:50] balping commented on #117
For 2)

We can still use some regex for ###### no-matter-what-text-is-in-here #######

For example: `#{6}.+#{6}`

Or:

[code]

In this case again, it doesn't matter what is written below the may #-s.

Or since everything is stored in language files, we can search for a translated string. There's no real difference. Even if different users have different language setup, we can always identify the n

[2016-01-23 20:55] balping commented on #117
And yeah, 1) would solve many issues.

However I think it's time to change from incremental ticket id's to some kind of uuid / hash / random string  solution. Users should have minimal information about tickets not created by them.

[2016-01-23 21:20] thekordy commented on #117
You are right, that would solve it with minimum impacts and won't be affected by translations.

Yes, and it would help us in future when we offer guest tickets, they would follow the status of their tickets by providing only the ticket id and their email address.

[2016-01-23 21:30] thekordy opened #132 "Agents chart no data"
![tickets system dashboard - agents chart 2016-01-23 23-28-58](https://cloud.githubusercontent.com/assets/11343048/12532945/367b2f88-c229-11e5-9510-736ce2f571b2.png)

[2016-01-23 21:52] #132 closed, assigned to thekordy

[2016-01-24 02:27] RVisal opened #135 "Fatal error: Class 'App\User' not found. (Custom folder for Models)."
Hello
I keep all models in the App\Models.
So there is an error "FatalThrowableError in InstallController.php line 53: Fatal error: Class 'App\User' not found".

I can replace all namespace 'App\User' to 'App\Models\User'. But this is not an option because your package will be updated. How to solve this problem?

Thank you

[2016-01-24 13:37] balping commented on #135
That's maybe becuase the main namespace of your app is not `App`. You can change this via an artisan command. But it's a bug anyway, this `App` namespace shouldn't be hardcoded in ticketit

[2016-01-24 13:41] balping commented on #135
I'll fix this, I've already found how it can be done

http://stackoverflow.com/questions/29319088/get-the-app-namespace-in-laravel-5

[2016-01-24 14:52] thekordy opened #137 "Auto assign always assign the admin"
Auto assign problem where it couldn't choose agents and always assign tickets to the admin

[2016-01-24 15:01] #137 closed, assigned to nobody

[2016-01-24 15:08] RVisal commented on #135
The main namespace is App.
        "psr-4": {
            "App\": "app/"
        }

I moved models to another folder due to the fact that the models become too much in my app.
In ticketit the model User is called as 'use App\User;', but I need call it as 'use App\Models\User;'.

In config/auth.php can get actual path to User model.
'model' => App\Models\User::class,

[2016-01-24 15:24] balping commented on #135
Thanks for the config/auth.php hint. I'll integrate this then.

But until you could try creating an alias to User

For example: yourproject/app/User.php:

[code]

[2016-01-24 15:29] RVisal commented on #135
Alias is working, thank you!

[2016-01-24 15:40] balping commented on #135
I tried but I don't know how dynamic includes could be done. I'll include this alias solution in the wiki in case if someone else has a similar problem

[2016-01-24 15:40] #135 closed, assigned to nobody

[2016-01-24 19:43] thekordy commented on #117
I think another thing is left, to make this runs automatically on intervals

[2016-01-24 19:45] tmcdon89 commented on #117
I agree. My intent was to just set up the laravel scheduler to run the "getEmails" method on intervals.

[2016-01-24 23:48] RVisal opened #141 "Swift_TransportException in AbstractSmtpTransport.php line 383: Expected response code 250 but got code "553", with message "553 5.7.1 Sender address rejected: not owned by auth user. ""
Hello
When trying create new ticket i get this error:

Swift_TransportException in AbstractSmtpTransport.php line 383:
Expected response code 250 but got code "553", with message "553 5.7.1 Sender address rejected: not owned by auth user.

I use SMTP mail driver, and smtp server does not allow to send emails except from my e-mail address. While ticketit using e-mail address from user who creates a

[2016-01-25 00:07] thekordy commented on #141
Hello,

I don't remember we are altering the $from other than the one configured in config/mail.php .. make sure you already configured this parameter in `config/mail.php`

[code]

[2016-01-25 00:12] RVisal commented on #141
Of course, this option is already configured.

[2016-01-25 00:37] marciocelebri opened #142 "Error installing"
Follow as doc https://github.com/thekordy/ticketit/wiki/How-to-install-Ticketit and the following errors appear :

[ Illuminate \ Database \ QueryException ]
SLQSTATE [ 42S02 ] : Base table or view not found : 1146 Table ' ticket.migrations ' does not exist (SQL : select \* from migrations )

[ PDOException ]
SLQSTATE [ 42S02 ] : Base table or view not found : 1146 Table ' ticket.migrations ' does

[2016-01-25 00:58] balping commented on #142
Please run `php artisan migrate` first.

You need to do this before adding the service provider to your config/app.php file

[2016-01-25 01:11] marciocelebri commented on #142
It was made this way. Now , first ran the two migrations of laravel project and the other ran normally.

But when accessing the url redirects to auth / login and shows error page NotFoundHttpException .

[2016-01-25 02:04] balping commented on #142
Maybe because you haven't set up auth routes and views

https://laravel.com/docs/5.1/authentication#authentication-quickstart

[2016-01-25 15:23] marciocelebri commented on #142
Thanks! After logging in, to which file / route should redirect?

[2016-01-25 15:47] marciocelebri commented on #142
After logging in, accessing the ticket route or ticket -admin :

Ticketit needs upgrade, admin should login and visit ticketit install route

[2016-01-25 15:49] tmcdon89 commented on #142
The default install route is /tickets-install

It will only be available if you are logged in as an admin account or if there hasn't been an admin account created yet.

[2016-01-25 15:55] marciocelebri commented on #142
Put the user as admin ( int 1). Now the error is:

View [master] not found. (View: /var/www/html/ticketit/vendor/kordy/ticketit/src/Views/index.blade.php)

Help me, please.

[2016-01-25 16:10] marciocelebri commented on #142
After adding the master template which you can see is this picture here .

Trying to register a ticket and will not appear priority and neither category. The database does not have any registered .
![ticketit-access](https://cloud.githubusercontent.com/assets/16846814/12556500/ed85da8e-c364-11e5-98cb-10d013cd15e9.PNG)

[2016-01-25 16:12] thekordy commented on #142
You need to include the jquery and bootstrap in your master template header .. also don't forget to add `@yield('footer')` last thing after jquery.js in your html footer

[2016-01-25 16:12] thekordy commented on #142
review this https://github.com/thekordy/ticketit/wiki/Integrating-Ticketit-views-with-your-project-template

[2016-01-25 16:29] marciocelebri commented on #142
![master-blade](https://cloud.githubusercontent.com/assets/16846814/12556886/ee0fc81e-c366-11e5-803c-2176ff5e69a9.PNG)

![error-01](https://cloud.githubusercontent.com/assets/16846814/12556976/60c7fbba-c367-11e5-9989-83d36babdda1.PNG)
1. Where are the css / js files? It is to put in my public folder?
2. After registered a ticket , it does not appear in the list, but is being informed at the top.

[2016-01-25 16:58] thekordy commented on #142
you haven't added bootstrap to your view yet

http://getbootstrap.com/getting-started/

[2016-01-25 17:01] marciocelebri commented on #142
I had already been added , sorry .

But the settings menu stopped working. And the servants tickets do not appear in the table.

![bootstrap](https://cloud.githubusercontent.com/assets/16846814/12557973/14f4b516-c36c-11e5-9bc2-efa380044284.PNG)

[2016-01-25 19:30] balping commented on #142
bootstrap js must be included after jquery

[2016-01-25 19:51] marciocelebri commented on #142
@balping Thanks ! But still keeps the data without appearing. 3 tickets have created and no list.
![tickets-saved](https://cloud.githubusercontent.com/assets/16846814/12562437/ef4f736a-c383-11e5-86dc-d31e69b0d65b.PNG)

[2016-01-25 20:06] thekordy commented on #142
You need to do some debug inspection, if you are using firefox or chrome, do a right click and choose inspect and look for the **console** and for the **network** logs, see if the datatables ajax call is working correctly or what is the response from the server

![ticketit-debugging](https://cloud.githubusercontent.com/assets/11343048/12562847/ed7484dc-c3af-11e5-81b2-129622f7868f.png)

[2016-01-25 20:43] marciocelebri commented on #142
@thekordy Thanks ! Here's how it is. The database contains 5 records.
![degug](https://cloud.githubusercontent.com/assets/16846814/12563884/2561bf1a-c38b-11e5-9557-567639fdb096.PNG)

[2016-01-25 20:50] thekordy commented on #142
and what about the console tab? is it empty?

[2016-01-25 20:55] marciocelebri commented on #142
POST 500 when insert new record. But, listing nothing appears on the console.

[2016-01-25 21:05] thekordy commented on #142
hmmm .. and you are logged in with the same account who created the tickets, right?

[2016-01-25 21:06] marciocelebri commented on #142
Exactly!

[2016-01-25 21:11] thekordy commented on #142
you should not get Post 500 when creating tickets .. my last suggestion for tonight is to try to reinstall Ticketit again (or just do migrate rollback and hit tickets-install again)

[2016-01-25 21:13] marciocelebri commented on #142
I will make a migrate:reset, if it does not reinstall . Inform if it works (or not)

[2016-01-25 21:15] marciocelebri commented on #142
I will reinstall and see if that resolves the problem.

[2016-01-26 00:22] marciocelebri commented on #142
Just signed up a status and now lists the registered tickets. Many thanks to all who have booked a little time out of your day to collaborate.

ps: did not need to reinstall .
pps: Very cool project.

[2016-01-26 00:22] #142 closed, assigned to nobody

[2016-01-26 07:48] thekordy commented on #142
I am very happy you liked our project, if you could please explain more what was the problem? and how did you resolve it?

[2016-01-26 08:48] thekordy commented on #141
Yes, Ticketit sends notifications from the notifications owner address, and that is not right.

https://github.com/thekordy/ticketit/blob/0.2/src/Controllers/NotificationsController.php#L96

I am sorry for that, I will work on this, so it will look first for
1. Ticketit default_outgoing_email setting
2. then the Laravel email from setting
3. then the smtp address
4. the notification owner address

[2016-01-26 09:03] thekordy opened #143 "Debuggable code"
We need to convert Ticketit to be a debugable code, that will help a lot in resolving issues and in developing new features. I am going to work on this next week, and here are some initial thoughts for discussion:
1. Replace datatables with native and simpler interface, or make datatables an alternative configurable choice, and the native will be the default interface, which will be easier in debu

[2016-01-26 14:53] jetwes opened #144 "All Tickets were adressed to admin"
Since the update to 0.23 all new tickets were pushed to administrator instead of an agent of the spcified category?

[2016-01-26 14:58] thekordy commented on #144
Yes, it does that, however this has been addressed here #137 and fixed. I will release a new patch soon. But you can just pull the new code and the issue will be resolved.

[2016-01-26 15:10] jetwes commented on #144
Sorry, didn't see it. Thanks!

[2016-01-26 15:10] #144 closed, assigned to nobody

[2016-01-26 18:13] marciocelebri commented on #142
Yes of course. After the settings here guided by you, the ticktes were not being displayed by not having registered status.

It was not really for show ? Would not it be interesting not allow the registration ?

[2016-01-27 00:25] ghost opened #145 "Setting up Mail"
I want to suggest a better info (wiki) on setting up mail to work with ticketit, the default laravel doc referred to isn't detailed enough and that seems confusing. I still haven't figured it out -_- its returning

[code]

[2016-01-27 08:00] ghost opened #146 "Functionality"
I want to suggest a functionality to be able to assign ticket to agents based on categories. I can't understand you decided to assign agents automatically. thanks.

[2016-01-27 08:53] thekordy commented on #145
Which email provider and method do you use?

[2016-01-27 08:54] thekordy commented on #146
You can edit the ticket and manually assign the ticket

[2016-01-27 09:11] ghost commented on #146
@thekordy  As an admin user, there isn't way to do that, even from your demo site.

[2016-01-27 09:17] thekordy commented on #146
I will work on that for v1.0 so admin can edit tickets directly .. but for now you can try to add admin to agents, he will be able to edit tickets

[2016-01-27 09:44] duckzland opened #147 "admin_route or main_route in sub path break blade"
Test case :
1. Define admin_route / main_route in a sub path like admin/tickets or display/tickets

Result :
Some blade that uses link_to_route() will break, because link_to_route will search for admin.tickets.moreurl while $settings->grab('admin_route') will return admin/tickets.moreurl

Not sure where is the best place to fix this, maybe adding another parameter in grab to convert?

like $settin

[2016-01-27 09:54] ghost commented on #146
Okay, thanks. How about contributing to the project?

[2016-01-27 10:08] thekordy commented on #146
That would be very appreciated

[2016-01-27 10:10] thekordy commented on #147
Yes, routes configuration should be handled that way. I will look into it. and thank you for your feedback :+1:

[2016-01-27 10:24] ghost commented on #146
@thekordy  Give me the steps required then.

[2016-01-27 10:42] thekordy commented on #146
Oh sorry :)
There are many different ways you can contribute to the project, such as submitting issues with feedback and suggestions, submitting wiki docs, testing, and contributing to the code itself using PR (Pull Request).

To submit a PR:
1. first fork the project so you get your own branch from Ticketit
2. do changes you want
3. submit the PR to merge the changes to Ticketit

[Here a doc on G

[2016-01-27 10:44] thekordy commented on #144
Thank you for giving us your feedback, that helps us a lot :+1:

[2016-01-27 10:47] thekordy commented on #142
So there was no statuses created yet in the admin section, but you were able to create tickets with empty status? Sorry for that, I will look into this issue to make sure that won't happen.

Thank you for your feedback :+1:

[2016-01-27 13:19] marciocelebri commented on #142
Registration was carried out and recorded in the database , but was not listed in my tickets. It is now running as well . I am available to help with anything you need . Thanks!

[2016-01-27 13:36] ghost commented on #146
@thekordy I just created a PR for that. Kindly check

[2016-01-28 08:10] thekordy commented on #146
Thank you a lot, I will test it tonight.

[2016-01-29 05:04] fdabek1 opened #149 "Unable to install with different primary key"
I am trying to install ticketit onto my Laravel installation and when I get to the install screen I was getting an error due to me using a different primary key (other than id) on my user.  This results in the select option having a value of the user's id rather than the steamid that is my primary key.

To fix this I edited the option in the Chrome Developer Tools, but then I get this error:

[cod

[2016-01-29 22:52] thekordy commented on #149
There must be a `users` table with primary key `id` .. Unfortunately, we don't support custom users table at the moment.

[2016-01-30 14:26] melihovgv commented on #145
I have the same issue. I use smtp. Such error occurs when I try to add new ticket.

[2016-01-30 14:30] melihovgv commented on #145
89608954600@bk.ru

[2016-01-30 20:50] thekordy commented on #145
@melihovgv [Try this tutorial](http://laravelcoding.com/blog/laravel-5-beauty-sending-mail-and-using-queues)

[2016-01-30 21:48] ghost commented on #146
Okay, tested and worked i guess. I will look into changing the whole look and feel to a more administrative dashboard.

[2016-01-31 09:26] thekordy commented on #146
It is made to be integrable with user master view, taking the same look and feel of the user's project style.

[2016-01-31 19:05] melihovv commented on #145
I have the same issue. I can send email from my one of my routes.
![image](https://cloud.githubusercontent.com/assets/8608721/12704193/4f5554a0-c866-11e5-8080-da42a73385b8.png)
And it arrives
![image](https://cloud.githubusercontent.com/assets/8608721/12704199/7d1c7882-c866-11e5-9331-6584cfbb9e9c.png)
But when I want to add new ticket it returns next
![image](https://cloud.githubusercontent.com/as

[2016-02-15 11:14] sunnyjayjay opened #152 "Method [autoSelectAgent] does not exist."
![image](https://cloud.githubusercontent.com/assets/10881327/13047177/423b5a10-d3d5-11e5-9654-426644ee21d8.png)

[2016-02-15 14:25] thekordy commented on #152
I hope this fixes the issue, you would need to do `git update` to get this update.

[2016-02-15 16:30] sunnyjayjay commented on #152
Thanks for that. However, that causes a new issue and I cannot now get to /tickets.

ErrorException in Setting.php line 56:
Trying to get property of non-object

[2016-02-15 18:22] m0h4 opened #153 "Nothing work after changing tickets and tickets-admin routes in admin configuration"
Hello,
Thank you for this very practical and powerful ticketing tool.

I just installed it yesterday and I was playing around in changing some parameters.

Settings >> Configuration (I changed the following) :
tickets -> requests
tickets-admin -> requests-admin
master->master

When I applied the changes, nothing wanted to work.

Any idea?

Thank you.

[2016-02-15 18:26] sunnyjayjay commented on #152
Ignore my previous issue. With your version 0.2.4 that has gone away. However the original error of autoSelectAgent does not exist is still occurring.

[2016-02-15 18:42] thekordy commented on #153
I know this is so obvious, but to just make sure, did you try using the new URLs (http://yourdomain/requests)?

[2016-02-15 18:46] m0h4 commented on #153
Thank you for your reply. None of them worked. I tried the old ones too.
I changed values in the database directly and changed the value of the language from "en" to NULL.
After that I cleared the cache and now everything is ok.

Thank you.

[2016-02-15 18:51] #153 closed, assigned to nobody

[2016-02-16 17:42] Rahulsharma0810 opened #154 "Is there a way to directly install it."
I read https://github.com/thekordy/ticketit/wiki/How-to-install-Ticketit and followed documentation but i am not able to install it as i bit new in laravel stuff and having lots of trouble in installing ticketit

Can you provide copy of working dir or web installer so we can just clone it and composer update,, so it canbe ready in 10 sec ?

[2016-02-17 18:49] thekordy commented on #154
I have not tried that before, let me try it locally and see if that could work.

[2016-02-18 06:38] Rahulsharma0810 commented on #154
@thekordy Thanx and waiting for the package .... if you can provide it soon as possible that would be fine, thank you and kudo for the project

[2016-02-18 10:01] amin101 opened #155 "scope resolution in view"
thanks for great package. would you please elaborate what does `::` mean in this code?

 `return view('ticketit::admin.status.index', compact('statuses'));`

[2016-02-18 12:35] thekordy commented on #155
You can read about this [here at Laravel documents](https://laravel.com/docs/5.2/packages#views)

[2016-02-18 14:43] #155 closed, assigned to nobody

[2016-02-25 19:10] Bladsmickey opened #156 "Not showing tickets in "My Tickets""
When i enter a new ticket it shows that theres a new ticket but it doesnt display the data in the table, any help?

![laravel 2016-02-25 14-39-39](https://cloud.githubusercontent.com/assets/6354835/13331030/c4cee988-dbcd-11e5-8bb5-7a9a50a5a397.png)

*FIXED: had to add a @yield('footer') in my layout template.

[2016-02-25 19:30] #156 closed, assigned to nobody

[2016-02-25 22:25] corbinisme opened #157 "Failed attempts at installing"
I've tried many times to install this in my laravel 5.1 application.  I followed the two simple tests, but I got a route exception going to [project]/tickets-install locally.  On my server, it gave the same problem, until one lucky refresh it showed the install interface.  There was an issue in the install due to permissions on the folders on the server, and it only gives me the  "Ticketit needs u

[2016-02-26 18:24] ahmedEloi commented on #157
Look for that line Ticketit needs upgrade, admin should login and visit ticketit install route and comment it

[2016-02-27 11:58] ahmedEloi opened #158 "login redirect to the same page (login)"
I cant see tickets after I logged in it turns me back to login page

[2016-02-28 07:15] thekordy commented on #158
I can't repeat the issue, Would you please give more details and how is your Laravel setup?

[2016-02-28 07:21] thekordy commented on #157
Doing reinstall would not reset the Ticketit database tables, so it won't reinstall unless you roll back the migrations. If you get `class not found` error while trying to roll back Ticketit migrations, then you need to add the new pushed migrations to the composer auto load by one of these commands:

[code]

[2016-02-28 07:23] #152 closed, assigned to nobody

[2016-02-28 07:24] #149 closed, assigned to nobody

[2016-02-28 10:46] ahmedEloi commented on #158
When I logged in I cant see my tickets it redirects me back to login page even if i am logged in

[2016-03-02 23:03] zek opened #159 "Reply with Email"
I've saw that in so many systems. It could be good if we can reply tickets by email.

[2016-03-02 23:07] balping commented on #159
Please see this topic https://github.com/thekordy/ticketit/issues/117

[2016-03-02 23:07] #159 closed, assigned to nobody

[2016-03-02 23:37] zek commented on #117
I think we can make a catch-all mail. Then generate a unique ID for each ticket

UniqueIdForTicket1@domain.com
UniqueIdForTicket2@domain.com
UniqueIdForTicket3@domain.com

So If he replies that unique ID we can match it with correct ticket.

[2016-03-03 00:55] drtzack commented on #122
I have 2 different Auth
One for user and other one for admins and they completely different table

And my admin auth name is "panel"  So In middleware I use "auth:panel"

I think you should allow something like that.

[2016-03-04 20:41] andylord56 opened #162 "links broke"
Locally i have this setup and the link is:

http://localhost/testticket/public/tickets/

to get this to work i had to change view instal index.blade.php
line 28 to this:
 <form class="form-signin" action="{{url('/tickets-install') }}" method="post" style="max-width: 500px">
so far so good

the problem now lies that all links do not work

all links are like this:
http://localhost/tickets-admin/stat

[2016-03-04 20:52] tmcdon89 commented on #162
I'm not sure I'm totally understanding the issue. Your example is a different page so I just want to make sure I am following along correctly. Is it that the links are going to a shortened URL?
aka
link goes to: http://localhost/tickets
link expected to go to: http://localhost/testticket/public/tickets

?

[2016-03-04 20:53] andylord56 commented on #162
yes that is correct

i have just been debugging myself and changed to something along the lines of this:

[code]

instead of

[code]

fixes the link issue however i now get:

ErrorException in TicketsController.php line 210:
Trying to get property of non-object

on that page i think due to the settings of the getting the page

[2016-03-04 20:55] tmcdon89 commented on #162
Version 1 or .2?

[2016-03-04 20:58] andylord56 commented on #162
.2
full laravel error

[code]

[2016-03-04 21:02] tmcdon89 commented on #162
Have you gone to the settings and set a priority and status?

[2016-03-04 21:04] andylord56 commented on #162
i cant get in there to set any

also tryed this:
php artisan db:seed --class="Kordy\Ticketit\Seeds\TicketitTableSeeder"
and i get the same error as above in the terminal

[2016-03-04 21:07] tmcdon89 commented on #162
Just to be clear. What page are you attempting to open when you get that error?

[2016-03-04 21:09] andylord56 commented on #162
so far the pages i have tested are:
http://localhost/testticket/public/tickets/status
http://localhost/testticket/public/tickets/priority
Both are doing this it seems

http://localhost/testticket/public/tickets/create?
works so i dont think its a side wide thing

however in creating a ticket i dont see any tickets in the table but a 1 is displayed in the menu

[2016-03-04 21:12] tmcdon89 commented on #162
the pages should be:
http://localhost/testticket/public/tickets-admin/priority
http://localhost/testticket/public/tickets-admin/status

Are you logged in as the site admin or an agent?

[2016-03-04 21:15] andylord56 commented on #162
ah yes that fixes the problem

Logged in as site admin

Thanks

[2016-03-04 21:16] tmcdon89 commented on #158
Version .2 or 1?

[2016-03-04 21:17] andylord56 commented on #162
However i am unable to see tickets in the /tickets route

[2016-03-04 21:23] tmcdon89 commented on #162
https://github.com/thekordy/ticketit/issues/156

[2016-03-04 21:24] andylord56 commented on #162
sorry not sure how to do pull requests on here but
for those interested in
how i fixed the links:

[code]

[2016-03-04 21:25] andylord56 commented on #162
my layout is as follows:

[code]

yield footer is in place

[2016-03-04 21:41] andylord56 commented on #162
ok so i figured it out jquery was erroring because of where it was fixed now thanks

[2016-03-04 21:41] #162 closed, assigned to nobody

[2016-03-04 21:52] #94 closed, assigned to nobody

[2016-03-04 21:53] andylord56 commented on #95
Looking forward to number 11 however i am thinking there is normally a reply within that ticket with a hash number in it and replying to this adds it to the ticket

[2016-03-05 10:53] #147 closed, assigned to nobody

[2016-03-05 12:36] andylord56 opened #165 "Emails"
Getting this error on a application without emails:

ErrorException in ee41fae0dfbea6acf24182ab907aa636cf03f90e.php line 22:
Trying to get property of non-object (View: /home/wwwwbpsalesco/salescrm/vendor/kordy/ticketit/src/Views/emails/assigned.blade.php)

I am guessing it is because the emails have not been setup is their anyway to disable them?

Edit:

I have added a mail trap and this does not

[2016-03-05 13:03] andylord56 commented on #145
check that you have values for each status priority category and someone is assigned to that category otherwise errors like the above happen

[2016-03-05 13:07] thekordy commented on #165
Go to Settings->Notifications and turn off the email notifications

status_notification, comment_notification, queue_emails, assigned_notification

[2016-03-05 13:40] andylord56 opened #166 "All Open Tickets Section"
-- Currently can only see your own tickets a admin would need to see all tickets

-- Also a quick edit/close/open/comment buttons would be nice for the tickets

-- Ability to assign more then one agent to a ticket

-- Ability to add tags to each Ticket

-- Multiple categorizes to be assigned

-- Search by category

[2016-03-07 13:23] zek opened #168 "Multiple Auth"
I have 2 different Auth
One for user and other one for admins and they completely different table

And my admin auth name is "panel" So In middleware I use "auth:panel"

I think you should allow something like that.

[2016-03-08 13:59] #143 closed, assigned to nobody

[2016-03-08 17:43] kebian opened #169 "Updating ticket status: notification e-mail has correct header but incorrect content"
When updating the ticket status, the notification e-mail has the correct header but the incorrect content.  For example, if I close a ticket then the e-mail header says **"Kebian updated My new ticket status to Complete"** but the e-mail content says **"Kebian changed the status of "My new ticket" from Pending to Pending"**

This is caused by the `default_reopen_status_id` and `default_close_statu

[2016-03-08 19:17] thekordy commented on #169
I couldn't agree more

[2016-03-14 17:52] ahmedEloi commented on #168
try to use a type field in users table and add two middlewares isAdmin and isUser

[2016-03-14 19:07] zek commented on #168
I cannot use same table. They are in fully different database :)

[2016-03-15 09:02] thekordy commented on #168
at the moment Ticketit only works with the Larvel default user table, you might have to customize (which is not recommended) the Ticketit migrations and for the user model you can try this solution #135

[2016-03-18 01:48] overint opened #170 "Suggestions"
- When an agent responds to a ticket, then a customer responds the ticket shows as Pending - should show as customer response or something similar indicated the user has replied.
- If a client re-opens a ticket, it should not show as solved, but go back to either pending or customer response
- Should be able to select which emails are sent for each operation, and disable emails being sent to the a

[2016-03-18 06:57] cruxster opened #171 "How to install laravel ticketit on local wamp server?"
I have Tired to install it wamp server but cant install .
1. after  doing  Step 1. Run this code via your terminal (1-2 minutes)

   composer require kordy/ticketit:0.*

then cant find config folder plus master.baled.php  other steps please tell me detailed steps how to install ticketii on local server

[2016-03-26 11:50] sunnyjayjay opened #172 "Why is ticketit loading on every single page request?"
I can see that the first two queries on every page refresh in my application are for TicketIt:

[code]

But I only want these to happen when I load the tickets pages. Any help on this please?

[2016-03-28 04:58] jrequiroso opened #173 "Freshly installed Laravel 5.1, added Ticketit v0.2.4, getting error when migrating: "Undefined variable: migration_arr""
The offending code is here:

[code]

[2016-03-28 10:38] sunnyjayjay opened #174 "110 database calls to open Dashboard view!"
Is it not possible to make this more db efficient?

[2016-03-28 18:22] oAllanWeb opened #175 "Chat website"
hello , I liked the project, would like to know if you have to put a chat module to put on websites.

[2016-03-28 19:55] balping commented on #175
Hi @AllanD1

I'm  not the project maintainer / author and it was a while ago when I last worked on this, because I don't have much time nowadays. So this is only my opinion, it's not me who makes decisions in these type of questions.

There's a [little piece of audio](https://laracasts.simplecast.fm/10), it's less than 7 minutes. I suggest you to listen it.

I absolutely agree with the speaker. I

[2016-03-30 18:18] Freddie-Banks opened #176 "Pulling from an email"
Just a simple question really.

Anyway of pulling an email in to the ticket system?

For example if a message was sent to hello@******.com Is there anyway that the message could appear within ticketit

[2016-03-31 19:48] thekordy commented on #176
If you have time, you could give the experimental [v1](https://github.com/thekordy/ticketit/tree/1.0) a try.

[2016-03-31 19:49] thekordy commented on #175
I agree with balping .. they are two different channels.

[2016-03-31 19:50] thekordy commented on #174
How?

[2016-04-01 03:52] addingama opened #177 "Different User Table"
Hi, How can I install this package if my user table split name field to first_name and last_name?

[2016-04-01 07:17] thekordy commented on #177
yes, as long as the database table name is 'users'

[2016-04-01 09:46] sunnyjayjay commented on #174
In my app, opening the dashboard,113 queries are triggered. Of these 19 are due to my app and the rest to Ticketit.

[2016-04-07 07:02] chi07 opened #178 "Cant not create ticket via Email"
Thanks for this module. It's very useful. But, if it have function that auto create, update ticket via email, it will be perfect.

[2016-04-07 08:21] thekordy commented on #178
You might be interested in the experimental [v1](https://github.com/thekordy/ticketit/tree/1.0) branch, it has this function

[2016-04-11 07:40] kevosomi opened #179 "Failed install attempts"
Hello Developer!

Great package. I have used it once before but as of now I am trying to install it and I keep on getting redirected to my homepage. I have a roles table with the following types: admin, client, writer, and agents. Please guide me on how to go about it.

Thank you in advance.

Regards,

Kelvin

[2016-04-11 08:06] thekordy commented on #179
Thank you.

I just released a bug fixes release v0.2.5 .. try to reinstall the package (and drop ticketit tables or rollback the ticketit migrations) and make sure you are logged in with the user id 1 when you visit ticketit or ticketit-install for the first time.

[2016-04-11 08:22] kevosomi commented on #179
Alright, let me do that now and get back to you shortly.

[2016-04-11 08:53] kevosomi commented on #179
It is still not working, redirects me to the homepage. When I try to visit http://project/ticketit I am getting the error NotFoundHttpException in RouteCollection.php line 161

Further, when I attempt to publish the config file, I get the reply that there's nothing to publish

[2016-04-13 15:05] tmcdon89 opened #180 "Versioning"
It seems that we have primarily moved to putting new features in v1 but I think we should officially stop any new features in v0.2.x and only allow bug fixes and optimizations. Otherwise it will become increasingly more difficult to continue work on future versions without the risk of large amounts of merge conflicts for bug fixes.

[2016-04-13 19:01] thekordy commented on #180
Sure that would be better indeed

[2016-04-15 23:14] AEK-BKF opened #181 "Config file"
Hi,
first of all thanks a lot for this nice package,
I think it will be very nice to add a config file to set :
-> Path to User model, (here App\User, so we can set App\Models\User instead )
-> Name attribute, ( we can use username ..)
-> Settings table, (we can rename it to configs for example )

Please could you check these points ? thanks.

[2016-04-16 08:05] thekordy commented on #181
Yes, I am thinking in a new version focused on many things including the points you mentioned.

[2016-04-16 14:49] AEK-BKF commented on #181
Thanks a lot :+1:
We're waiting for you :)

[2016-04-16 21:21] #175 closed, assigned to nobody

[2016-04-16 21:46] balping opened #182 "Replace datatable"
Hi!

I'm think of replacing datatable with [bootgrid](http://www.jquery-bootgrid.com/Examples). I've used it in one of my projects and I'm quite satisfied with it. Compared to datatable it's much-much simliper, we could get rid of all crap that datatable means. What do you think @thekordy ? If you agree, I'll start doing it. I saw it once on an old todo-list that the removal of datatable was actua

[2016-04-17 07:54] thekordy commented on #182
Hi
Actually I am interested, let's do it :+1:

[2016-04-17 13:50] fishmad commented on #182
Is it better?

[2016-04-17 13:54] balping commented on #182
In my opinion, yes. There are fewer possibilities, but more than enough.

[2016-04-17 14:22] #178 closed, assigned to nobody

[2016-04-17 14:23] #176 closed, assigned to nobody

[2016-04-18 00:54] balping commented on #182
https://github.com/thekordy/ticketit/commit/cb4711b12cd1ac099d28174fbd3766b89b2707b3

Here's the first approach. Still needs testing

[2016-04-18 18:53] balping commented on #182
https://github.com/thekordy/ticketit/commit/47e46b8904239c6bcdd2c31bba77e8f8e0c1307d

I added text search functionality. It searches in subject, body and comments

[2016-04-27 02:45] tmcdon89 opened #183 "Agents view tickets from thier categories"
I'm setting up an option that would allow agents access to any ticket from their assigned categories. This would allow for users in the support roles to help on tickets etc...

I've allowed access to the tickets via an additional middleware function:

[code]

And a new function in the Agent Model:

[code]

This is all working as expected so far but where I am hitting an issue is displaying the tic

[2016-04-27 16:25] #183 closed, assigned to nobody

[2016-04-27 16:48] tmcdon89 commented on #173
Thanks for the report.

[2016-04-27 17:41] tmcdon89 commented on #173
Fixed in f21a7fd
Thanks again for the contribution!

[2016-04-27 17:41] #173 closed, assigned to nobody

[2016-04-27 21:25] tmcdon89 opened #184 "2.0 directions"
I'm currently working on this but I could definitely use some help. The installation process is rather involved currently and only somewhat documented. I've been trying to work through the various issues as they come up during the installation process. What I'm finding are a lot of oddities that are likely caused by the additional features added/changed in v1. Its been easy enough updating an exis

[2016-04-28 08:18] thekordy commented on #184
Actually, I have an idea that is getting bigger and bigger everyday, I am thinking of making a totally new version, reviewing all the code again, and get back to the Laravel style. Stability, extensibility, and to be very customizable for developers, should be the main focus of the new version.

Initial points:
1. Get the settings back to the config files
2. Get rid of the installation screen, use

[2016-04-28 08:35] fishmad commented on #184
I like the idea, it became bloated too quickly, happy to some end user
testing.
On 28 Apr 2016 6:18 pm, "Ahmed Kordy" notifications@github.com wrote:

[2016-04-28 09:39] yizhihou2 opened #185 "changing ticketit's source files"
Hi, I was trying to combine ticketit's logic into my project. There are some parts that I would like to unify for my project and ticketit, like nav.blade.php and errors.blade.php files. Some redundancy will be removed too.

The question is if I changed the source code of ticketit in my local project, will I got a problem when ticketit has a new version and I run "composer update"? Will I lose all

[2016-04-28 09:55] balping commented on #185
Dont change the source code of the project. If you don't like one specific blade file, you can override it. For example create file resources/views/vendor/ticketit/shared/nav.blade.php to override this project's nav.blade.php file

https://laravel.com/docs/master/packages#views

[2016-04-28 10:14] balping commented on #185
However if you think, you can improve the quality of the code, feel free to make pull requests for the 1.0 branch

[2016-04-28 10:34] balping commented on #184
I abolutely agree with you. Starting again from scratch is often much easier than making a huge refactor (which is very much needed).

I think we should drop backward compatibility. And then we could create a migrate script before release, but not necessarily.

Only the 'make tests for everything' part looks scary to me. I agree setting up unit tests improves code quality, but I'm not sure if it's

[2016-04-28 15:29] tmcdon89 commented on #184
I think that would be a good direction to head in. Would we be calling this v1 still or move on to v2 for the new code base? Additionally I think that we should lay out what features we want to be in this new version and work towards them. Once they are all in, new features should only go in development branches.

The best way to expand the user base and improve the product is getting it to a good

[2016-04-28 15:46] balping commented on #184
Maybe we should use git-flow? For handling stable/dev/bugfix branches

[2016-04-28 17:29] thekordy commented on #184
@balping I know how it looks, but when you see how tests improve the code and decrease the issues a lot, even they helped me to write code faster than before.

@tmcdon89 I was thinking to make it v2. And I'd suggest to keep features at the minimum, and to think of a way to make all features other than the most basic core features (basic Tickets CRUD), and other features work as pluggable extension

[2016-04-28 18:19] balping commented on #184
It's not an answer to your question but the very core (crud and related stuff) could be a facade. Then api functions could be called from the entire system (including the 'extensions' we provide). I'm thinking of someting like `Ticketit::open()` , `Ticketit::addAgent()`,  etc

So a developer could use the api without touching anything in the codebase of this package. This could be useful for examp

[2016-04-28 22:45] #185 closed, assigned to nobody

[2016-04-29 21:45] thekordy commented on #184
[2.0](https://github.com/thekordy/ticketit/tree/2.0) .. What do you think?

@balping I am looking into the Facade option, Thank you for your suggestion

[2016-04-29 22:40] balping commented on #184
Very well done, lot of work you have already done as I can see. :+1: Maybe the hardest thing is to start somewhere...

And it looks really good quality code with comments, tests, etc.

I have a suggestion regarding traits.

If I understand it correctly, a developer should add TicketitUserTrait, TicketitAdminTrait, TicketitAgentTrait to his/her User model in a typical setup. But meanwhile, the clas

[2016-04-29 22:48] balping commented on #184
One last thing:

Since 5.1 is an LTS release, we should support it as well. So we can't rely on new functions in 5.2

But you may disagree anyway. Maybe when we'll done with this, there will be another LTS release :-P

... or we can say that 0.\* branch is for laravel 5.1 and 2.\* branch is for 5.2

[2016-04-30 12:42] thekordy commented on #184
Yes, It's right now. But it is just I don't know all the possibilities other developers would need to scale in future, so I opened it for them.
Another side of it, as [Here](https://github.com/thekordy/ticketit/blob/2.0/src/TicketitServiceProvider.php#L55) I am binding them in the service register, (so I need to know about them at the very early of application startup), and I use these bindings in

[2016-04-30 12:49] thekordy commented on #184
That would better of course

[2016-04-30 13:01] kasirye commented on #182
Hi balping, the bootgrid is not loading data. what could the problem be. have tried to troubleshoot but have failed. Please help

[2016-04-30 13:34] balping commented on #182
Hi @kasirye please use the network tab of chrome dev tools and see if anything is wrong there

[2016-04-30 14:53] balping commented on #184
I see. Ok then

[2016-04-30 15:50] kasirye commented on #182
@balping there is nothing wrong... i see no errors. I wonder where the problem is... tried a reinstallation but same issue.

I can see the count  of the active tickets in the upper nav-pill but not in the bootgrid. Do you think the problem is coming from the TicketsController@data function

[2016-04-30 15:56] balping commented on #182
Maybe a stupid question, but are there any tickets in the database? I'll make a fresh install anyways and see what' wrong

[2016-04-30 16:00] kasirye commented on #182
Yes @balping, i have some tickets in the database
![bootgrid](https://cloud.githubusercontent.com/assets/11265554/14937103/c0cfea38-0f05-11e6-8074-3f75a17551e4.png)

[2016-04-30 16:08] balping commented on #182
It looks like bootgrid's js file isn't loaded check, there's a reference to it in the page's source html. If not, maybe your blade files are not set correctly

[2016-04-30 16:16] kasirye commented on #182
Perfect @balping,  It was my blade master template. Thanks alot for your time. I appreciate

[2016-05-02 11:41] #182 closed, assigned to balping

[2016-05-02 16:19] tmcdon89 commented on #184
@thekordy when you have a minute it would be greatly appreciated if you could give a rundown on the new way this is working. With emphasis on how to add new features.
The reason I ask is to make sure I'm following everything correctly. I program on the side so with my current skill level I want to make sure that I'm not misinterpreting the way its supposed to work.

Thanks!

[2016-05-02 19:36] thekordy commented on #184
I am sorry .. I knew I had to write about that, I just wanted to get there together, So all ideas are very welcome.
I will list here the main points in my mind, so we can build a good strategy on it.

## Models Extensibility

 I just separated the models API from models into Traits, and made models paths are configurable .. So basically it gives developers the option to replace or change APIs or d

[2016-05-02 23:28] balping commented on #184
Great summing-up, thanks for writing this!

As the concepts  are getting more solid, it will deserve a wiki page as well.

A little bit back to brainstorming.

In the previous versions I found that translations become a bit messy. English and other languages weren't in sync, it wasn't easy to determine which constants need be translated and which were already done.

So I made a google search and f

[2016-05-03 07:02] thekordy commented on #184
The translation management package is a very good idea :+1:

[2016-05-03 07:08] thekordy commented on #184
I think we can get three documents from here:
1. the contribution policy (which we have done much of it here)
2. the developer guide to extend the package
3. v2.0 roadmap that includes what features to be included in the first couple releases.

What do you think about the features we should include in the coming releases?

[2016-05-03 07:25] balping commented on #184
Why not mostly everything we had before? We are not in a hurry, we could do them carefully. So for the first thought:
- index page with search / filter functionality
- agent management
- Auto assignment
- wysiwyg editor `[optional]`
- attachments (that could belong to comments as well) `[optional]`
- attachment handling with Laravel's flysystem https://github.com/thekordy/ticketit/issues/238
- ema

[2016-05-03 08:19] thekordy commented on #184
I think we should include a default master view with needed scripts and the developer can change to his own master view later, the only problem is how to make it plays nice with developer current auth routes and how to play nice Laravel 5.1 as well as 5.2

[2016-05-03 08:33] balping commented on #184
Since 50% of issues opened here was because of failing to set up blade correctly, it's a good idea

[2016-05-03 08:54] thekordy commented on #184
This was my last direct commit, next I will only use pull requests to add new commits to v2.0

[2016-05-03 09:08] balping commented on #184
So we should use pull requests as well, I guess. (?)

[2016-05-06 13:59] tonyv69 opened #187 "Can I apply the Complete status to the table status column when a user marks ticket as complete"
Hi

Just wanted to know if there is a way to change the status in the status column table view to show Complete when a ticket has been marked as Complete?

[2016-05-07 13:40] thekordy commented on #187
from the admin panel, create a status with name "complete" and go to settings -> tickets and change "default_close_status_id" to the status id you have just created.

[2016-05-07 22:23] #187 closed, assigned to nobody

[2016-05-17 10:50] gchimuel commented on #73
Is running the **php artisan config:clear** fixes the problem?

[2016-05-20 11:57] sunnyjayjay opened #192 "Code view allows scripts to run - dangerous - can we turn off Code View"
In the Ticketit editor, if you choose code view and enter some javascript, when you leave code view the script runs. This is a problem as the script could be malicious. Our users would not need Code View, is there any way we can turn it off?

[2016-05-20 15:33] balping commented on #192
Which version are you using?

[2016-05-20 15:51] sunnyjayjay commented on #192
0.2.3

[2016-05-22 20:37] Soxfrot opened #193 "Auth login email not found"
First of all, thanks for the code, it's awesome. Second, if i register an account, all works. But when i try to log in with the same credentials, it says me that there is no e-mail in the database. I'm looking for the code which can fix that, but no luck. Any ideas?

[2016-05-22 21:09] Soxfrot commented on #193
I answer myself, it was a mistake in the model that was different from the column name.